
/* transition */

@mixin transition($transition...){
	transition: $transition;
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
}

@mixin borderRadius($borderRadius...){
	border-radius: $borderRadius;
	-webkit-border-radius: $borderRadius;
	-moz-border-radius: $borderRadius;
	-ms-border-radius: $borderRadius;
	-o-border-radius: $borderRadius;
}

@mixin boxShadow($boxShadow...){
	box-shadow: $boxShadow;
	-webkit-box-shadow: $boxShadow;
	-moz-box-shadow: $boxShadow;
	-ms-box-shadow: $boxShadow;
	-o-box-shadow: $boxShadow;
}

@mixin transform($transform...){
	transform: $transform;
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
}

@mixin transformOrigin($transformOrigin...){
	transform-origin: $transformOrigin;
	-webkit-transform-origin: $transformOrigin;
	-moz-transform-origin: $transformOrigin;
	-ms-transform-origin: $transformOrigin;
	-o-transform-origin: $transformOrigin;
}

@mixin backgroundSize($backgroundSize){
	background-size: $backgroundSize;
	-webkit-background-size: $backgroundSize;
	-moz-background-size: $backgroundSize;
	-ms-background-size: $backgroundSize;
	-o-background-size: $backgroundSize;
}

@mixin linear-gradient($direction, $color-stops...) {
  // Direction has been omitted and happens to be a color-stop
  @if is-direction($direction) == false {
    $color-stops: $direction, $color-stops;
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
  background: -webkit-linear-gradient($direction, $color-stops);
  background: -moz-gradient($direction, $color-stops);
  background: -ms-gradient($direction, $color-stops);
  background: -o-gradient($direction, $color-stops);
}
@mixin animation($animation...){
	animation: $animation;
	-webkit-animation: $animation;
	-moz-animation: $animation;
	-ms-animation: $animation;
	-o-animation: $animation;
}

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}