
/* Color Define */

$primary_color		:		#00a2ff;
$secondary_color	:		#3fc75c;


/*$primary_color		:		#f13971;
$secondary_color	:		#0888ff;*/

$content_color		:		#3a4f56;
$light_grey			:		#f6f6f6;
$extra_light_grey	:		#f5f8fa;
$dark_grey			:		#2b3b43;
$color_black		:		#000000;
$color_white		:		#ffffff;
$youtube			:		#ee1c1b;
$linkedin			:		#007ab5;
$googleplus			:		#de4e43;
$facebook			:		#3c5a99;
$twitter			:		#20a1f1;
$madetory			:		#ff0066;
$error				:		#ff3838;
$sucess				:		#019601;
$header_bg			: 		#093c58;


/* font declaration */

$font_1				:		'Lato', sans-serif;
$font_2				:		'Patua One';
$font_3				:		'codehints';
$font_4				:		'FontAwesome';
$font_5				:		'gunplayregular';


/* color themes */
$theme_1_p : #ffc107;
$theme_1_s : #ff5722;

$theme_2_p : #3f51b5;
$theme_2_s : #259b24;

$theme_3_p : #607d8b;
$theme_3_s : #9e9e9e;

$theme_4_p : #cddc39;
$theme_4_s : #ff9800;

$theme_5_p : #03a9f4;
$theme_5_s : #9c27b0;

$theme_6_p : #66BB6A;
$theme_6_s : #ffc107;

$theme_7_p : #d81a60;
$theme_7_s : #448AFF;

