.ch-c-btn--more{
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: rgba($color_black, 0.80);
	border:$secondary_color 1px solid;
	line-height: normal;
	font-weight: 400;
	padding: 13px 35px 12px 37px;
	background: $color_white;

	@include transition(color ease 0.2s, background ease 0.2s, border ease 0.2s);
	@include borderRadius(3px);

	.ch-l-theme_1 &{
    	border-color: $theme_1_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_2 &{
    	border-color: $theme_2_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_3 &{
    	border-color: $theme_3_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_4 &{
    	border-color: $theme_4_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_5 &{
    	border-color: $theme_5_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_6 &{
    	border-color: $theme_6_s;
    	color: rgba($color_black, 0.80);
    }
    .ch-l-theme_7 &{
    	border-color: $theme_7_s;
    	color: rgba($color_black, 0.80);
	}
	
	.ch-l-theme__dark &{
		color: rgb(255, 255, 255);
		border-color: #555555;
		background: #444444;
	}


	&::before{
		content: "\e904";
		font-family: $font_3;
		position: absolute;
		top: 11px;
		left: 12px;
		font-size: 22px;
		color: $secondary_color;
		@include transition(color ease 0.2s);

		.ch-l-theme_1 &{
	    	color: $theme_1_s;
	    }
	    .ch-l-theme_2 &{
	    	color: $theme_2_s;
	    }
	    .ch-l-theme_3 &{
	    	color: $theme_3_s;
	    }
	    .ch-l-theme_4 &{
	    	color: $theme_4_s;
	    }
	    .ch-l-theme_5 &{
	    	color: $theme_5_s;
	    }
	    .ch-l-theme_6 &{
	    	color: $theme_6_s;
	    }
	    .ch-l-theme_7 &{
	    	color: $theme_7_s;
	    }
	}

	&:hover, &:focus{
		background: $secondary_color;
		color: $color_white;

		.ch-l-theme_1 &{
	    	background: $theme_1_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_2 &{
	    	background: $theme_2_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_3 &{
	    	background: $theme_3_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_4 &{
	    	background: $theme_4_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_5 &{
	    	background: $theme_5_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_6 &{
	    	background: $theme_6_s;
	    	color: $color_white;
	    }
	    .ch-l-theme_7 &{
	    	background: $theme_7_s;
	    	color: $color_white;
	    }

		.ch-l-theme__dark &{
			color: rgb(255, 255, 255);
			border-color: #5e5e5e;
			background: #5e5e5e;		
		}

		&::before{
			color: $color_white;
		}
	}
}

.comments-link{
	@extend .ch-c-btn--more;
	padding-left: 42px;
	&::before{
		content: "\f0e6";
		font-family: $font_4;
		font-size: 19px;
	    left: 15px;
	    top: 12px;
	}	
}

.codehints-post, .codehints-example {
	@extend .ch-c-btn--more;
	font-family: $font_1 !important;
	margin: 0 10px 5px 0; 

	&::before{
		font-family: $font_4;
		font-size: 19px;
	}
}
.codehints-post{
	padding-left: 46px;
	&::before{
		content: "\f08e";
		left: 18px;
    	top: 13px;
	}
}

.codehints-example{
	border-color: $primary_color;
	padding-left: 44px;

	.ch-l-theme_1 &{
    	border-color: $theme_1_p;
    }
    .ch-l-theme_2 &{
    	border-color: $theme_2_p;
    }
    .ch-l-theme_3 &{
    	border-color: $theme_3_p;
    }
    .ch-l-theme_4 &{
    	border-color: $theme_4_p;
    }
    .ch-l-theme_5 &{
    	border-color: $theme_5_p;
    }
    .ch-l-theme_6 &{
    	border-color: $theme_6_p;
    }
    .ch-l-theme_7 &{
    	border-color: $theme_7_p;
    }
	&::before{
		content: "\f138";
		color: $primary_color;
		left: 17px;
    	top: 13px;

    	.ch-l-theme_1 &{
	    	color: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	color: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	color: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	color: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	color: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	color: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	color: $theme_7_p;
	    }
	}

	

	&:hover, &:focus{
		background: $primary_color;

		.ch-l-theme_1 &{
	    	background: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	background: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	background: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	background: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	background: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	background: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	background: $theme_7_p;
	    }
	    &::before{
	    	.ch-l-theme_1 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_2 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_3 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_4 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_5 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_6 &{
		    	color: $color_white;
		    }
		    .ch-l-theme_7 &{
		    	color: $color_white;
		    }
	    }
	}
}
.ch-btn-primary{
	border: none;
	padding: 0px;
	background: $secondary_color;
	color: $color_white;
	font-size: 14px;
	padding: 12px 10px;
	font-weight: 700;
	line-height: normal;
	display: inline-block;

	@include transition(background ease 0.2s);
	@include borderRadius(3px);

	.ch-l-theme_1 &{
    	background: $theme_1_s;
    }
    .ch-l-theme_2 &{
    	background: $theme_2_s;
    }
    .ch-l-theme_3 &{
    	background: $theme_3_s;
    }
    .ch-l-theme_4 &{
    	background: $theme_4_s;
    }
    .ch-l-theme_5 &{
    	background: $theme_5_s;
    }
    .ch-l-theme_6 &{
    	background: $theme_6_s;
    }
    .ch-l-theme_7 &{
    	background: $theme_7_s;
    }

	&:focus, &:hover{
		background: lighten($secondary_color, 5%);

		.ch-l-theme_1 &{
	    	background:lighten($theme_1_s, 5%);
	    }
	    .ch-l-theme_2 &{
	    	background:lighten($theme_2_s, 5%);
	    }
	    .ch-l-theme_3 &{
	    	background:lighten($theme_3_s, 5%);
	    }
	    .ch-l-theme_4 &{
	    	background:lighten($theme_4_s, 5%);
	    }
	    .ch-l-theme_5 &{
	    	background:lighten($theme_5_s, 5%);
	    }
	    .ch-l-theme_6 &{
	    	background:lighten($theme_6_s, 5%);
	    }
	    .ch-l-theme_7 &{
	    	background:lighten($theme_7_s, 5%);
	    }

	}
}