.ch-l-category--wrap{
	overflow: hidden;

	.ch-l-category--base{
		margin-right: -40px;
		font-size: 0;

		@media screen and (max-width: 767px){
			margin-right: 0;
		}
		.ch-l-category--block{
			width: 50%;
			padding-right: 40px;
			padding-bottom: 80px;
			display: inline-block;
			font-size: 15px;
			vertical-align: top;

			h3{
				font-size: 30px;
				color: $content_color;
				font-family: $font_1;
				line-height: 32px;
				position: relative;
				/*padding: 0 0 12px;*/
				margin-bottom: 15px;
				font-weight: 900;

				&::after{
					content:'';
					width: 58px;
					height: 4px;
					display:none;
					position: absolute;
					bottom: 0px;
					left: 0px;
					background: $secondary_color;
					@include transition(width cubic-bezier(0.38, 0.62, 0.23, 1.1) 0.5s, background ease 0.2s);

					.ch-l-theme_1 &{
				    	background: $theme_1_s;
				    }
				    .ch-l-theme_2 &{
				    	background: $theme_2_s;
				    }
				    .ch-l-theme_3 &{
				    	background: $theme_3_s;
				    }
				    .ch-l-theme_4 &{
				    	background: $theme_4_s;
				    }
				    .ch-l-theme_5 &{
				    	background: $theme_5_s;
				    }
				    .ch-l-theme_6 &{
				    	background: $theme_6_s;
				    }
				    .ch-l-theme_7 &{
				    	background: $theme_7_s;
				    }
				}
				&:hover, &:focus{
					&::after{
						width: 68px;
						max-width: 100%;
					}
				}
				a{
					color: $content_color;

					@include transition(color ease 0.2s);

					.ch-l-theme__dark &{
						color: #fcfcfc;
					}
				}
				&:hover, &:focus{
					a{
						color: $secondary_color;
						.ch-l-theme_1 &{
					    	color: $theme_1_s;
					    }
					    .ch-l-theme_2 &{
					    	color: $theme_2_s;
					    }
					    .ch-l-theme_3 &{
					    	color: $theme_3_s;
					    }
					    .ch-l-theme_4 &{
					    	color: $theme_4_s;
					    }
					    .ch-l-theme_5 &{
					    	color: $theme_5_s;
					    }
					    .ch-l-theme_6 &{
					    	color: $theme_6_s;
					    }
					    .ch-l-theme_7 &{
					    	color: $theme_7_s;
						}
						.ch-l-theme__dark &{
							color: #c7c7c7;
						}
					}
				}

				@media screen and (max-width: 991px){
					font-size: 25px;
					line-height: 25px;
				}
				@media screen and (max-width: 600px){
					font-size: 21px;
    				line-height: 21px;

    				&::after{
    					height: 3px;
    				}
				}
			}

			@media screen and (max-width: 767px){
				width:100%;
				display: block;
				padding-right:0;
				padding-bottom: 35px;
				position: static !important;
			}

			.ch-l-post__info{
				margin-bottom: 32px;
				.ch-l-post__user{
					min-width: 0;
				}
				.ch-l-post__comment-count{
					min-width: 0;
					margin-right: 25px;
				}
			}
		}
	}
}
.ch-l-category--title{
	font-size: 28px;
    font-weight: 700;
    background: $secondary_color;
    color: $color_white;
    padding: 15px 0;
    line-height: 24px;
    text-align: center;
    margin: 0;
    @include transition(background ease 0.2s, box-shadow ease 0.2s, padding ease 0.2s, font-size ease 0.2s);

    .ch-l-theme_1 &{
    	background: $theme_1_s;
    }
    .ch-l-theme_2 &{
    	background: $theme_2_s;
    }
    .ch-l-theme_3 &{
    	background: $theme_3_s;
    }
    .ch-l-theme_4 &{
    	background: $theme_4_s;
    }
    .ch-l-theme_5 &{
    	background: $theme_5_s;
    }
    .ch-l-theme_6 &{
    	background: $theme_6_s;
    }
    .ch-l-theme_7 &{
    	background: $theme_7_s; 
    }

    @media screen and (max-width: 991px){
    	font-size: 19px;
    }

    @media screen and (max-width: 600px){
    	font-size: 16px;
    }
}

.ch-l-category__fixed{
	&.scroll-to-fixed-fixed{
		.ch-l-category--title{
			font-size: 20px;
			padding: 11px 0;
			@include boxShadow(0px 0px 20px 1px rgba($color_black, 0.41));

			@media screen and (max-width: 991px){
		    	font-size: 19px;
		    }
		    @media screen and (max-width: 600px){
		    	font-size: 16px;
		    }
		}
	}
}