.ch-l-contact-us{
	div.wpforms-container-full{
		.wpforms-form{
			input, textarea{
				@extend .form-control;
				@include borderRadius(3px);
				@include boxShadow(none);
				border-color: lighten($color_black, 85%);
				font-size: 15px;
				font-weight: 400;
				padding: 10px 15px;
				font-family: $font_1;

				&:focus, &:hover{
					@include boxShadow(none);
					border-color: lighten($color_black, 50%);
				}
				.ch-l-theme__dark &{
					background: #292929;
					border-color: #3a3a3a;
					color: #c6c6c6;
				}
			}
			input{
				height: auto;
			}
			textarea{
				resize: none;
				height: 150px;
			}
			
			.wpforms-field{
				margin-bottom: 20px;
				padding-bottom: 0;
				padding-top: 0;

				.wpforms-field-label{
					display: block;
					font-size: 14px;
					font-family: $font_1;
					font-weight: 400;

					.wpforms-required-label{
						color: $madetory;
					}
				}
			}
			
			.wpforms-submit {
				background: $dark_grey;
				border:none;
				padding: 12px 0;
				height: auto;
				color: $color_white;
				font-size: 15px;
				font-weight: 500;
				display: block;
			    width: 100%;
			    line-height: normal;

				@include borderRadius(2px);
				@include boxShadow(none);
				@include transition(background ease 0.2s);

				&:focus, &:hover{
					background: lighten($dark_grey, 5%);
					border: none;
				}
			}
		}
	}

	.form-feild{
		+ .form-feild{
			margin-top: 20px;
		}
		br{
			display: none;
		}
		.form-label{
			display: block;
			font-size: 14px;
			font-family: $font_1;
			font-weight: 400;
			line-height: normal;

			&.form-label-req{
				&:after{
					content:'*';
					display: inline-block;
					font-size: 14px;
					color: $madetory;
					font-weight: 500;
					line-height: 12px;
					position: relative;
					top: 2px;
					margin-left: 2px;
				}
			}
		}
		.wpcf7-form-control-wrap{
			display: block;

			.wpcf7-textarea, .wpcf7-text{
				@extend .form-control;
				@include borderRadius(3px);
				@include boxShadow(none);
				border-color: lighten($color_black, 85%);
				font-size: 15px;
				font-weight: 400;
				padding: 10px 15px;
				font-family: $font_1;
				height: auto;

				&:focus, &:hover{
					@include boxShadow(none);
					border-color: lighten($color_black, 50%);
				}
				.ch-l-theme__dark &{
					background: #292929;
					border-color: #3a3a3a;
					color: #c6c6c6;
				}
			}
			.wpcf7-textarea{
				resize: none;
				height: 150px;
			}
		}
	}
	.form-submit{
		margin-top: 30px;
		.wpcf7-submit{
			background: $dark_grey;
			border:none;
			padding: 12px 0;
			height: auto;
			color: $color_white;
			font-size: 15px;
			font-weight: 500;
			display: block;
		    width: 100%;
		    line-height: normal;

			@include borderRadius(2px);
			@include boxShadow(none);
			@include transition(background ease 0.2s);

			&:focus, &:hover{
				background: lighten($dark_grey, 5%);
				border: none;
			}
		}
	}
}

.wpforms-confirmation-container-full{
	line-height: normal;
	border: rgba($secondary_color, 0.42) 1px solid;
	background: rgba($secondary_color, 0.1);
	padding: 15px;

	@include borderRadius(3px);
	p{
		margin: 0;
	}
}