/* patua */

/* patua-one-regular - latin */
@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Patua One'), local('PatuaOne-Regular'),
       url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/patua/patua-one-v6-latin-regular.svg#PatuaOne') format('svg'); /* Legacy iOS */
}


/* Roboto */

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.eot'); /* IE9 Compat Modes */
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-100.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Roboto Light'), local('Roboto-Light'),
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-300.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/custom-fonts/roboto/roboto-v16-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Gunplay-Regular';
	src: url('../fonts/custom-fonts/gunplay/Gunplay-Regular.eot?#iefix') format('embedded-opentype'),  
		 url('../fonts/custom-fonts/gunplay/Gunplay-Regular.woff') format('woff'), 
		 url('../fonts/custom-fonts/gunplay/Gunplay-Regular.ttf')  format('truetype'), 
		 url('../fonts/custom-fonts/gunplay/Gunplay-Regular.svg#Gunplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'gunplayregular';
    src: url('../fonts/custom-fonts/gunplay/gunplay_rg-webfont.woff2') format('woff2'),
         url('../fonts/custom-fonts/gunplay/gunplay_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}