.footer{
	background: $footer_color;
	padding: 59px 0 32px 0;

	@media screen and(max-width: 991px){
		padding-top: 40px;
	}

	.ch-l-copyright{
		font-size: 14px;
		color: rgba($color_white, 0.40);
		line-height: normal;
		font-weight: 300;
		padding-top: 15px;
		span{
			font-weight: 400;
		}

		@media screen and (max-width:767px){
			text-align: center;
			padding-top:0;
			margin-bottom:10px;
		}
	}
	.ch-l-social{
		float: right;
		font-size: 0;
		@media screen and (max-width:767px){
			float: none;
			text-align: center;
		}
		li{
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
			a{
				width: 42px;
				height: 42px;
				color: $color_white;
				font-size: 17px;
				display: block;
				text-align: center;
				padding-top: 9px;

				@include borderRadius(50%);
				@include transition(background ease 0.2s);

				&.ch-l-social--youtube{
					background: $youtube;
					&:hover, &:focus{
						background: lighten($youtube, 5%);
					}
				}
				&.ch-l-social--linkedin{
					background: $linkedin;
					&:hover, &:focus{
						background: lighten($linkedin, 5%);
					}
				}
				&.ch-l-social--gplus{
					background: $googleplus;
					&:hover, &:focus{
						background: lighten($googleplus, 5%);
					}
				}
				&.ch-l-social--fb{
					background: $facebook;
					&:hover, &:focus{
						background: lighten($facebook, 5%);
					}
				}
				@media screen and (max-width:767px){
					width: 37px;
    				height: 37px;
    				font-size: 14px;
    				padding-top: 7px;
				}
			}
			@media screen and (max-width:767px){
				margin: 0 3px;
			}
		}
	}
}


.ch-l-footer__social{
	margin-top: 50px;
	ul{
		margin: 0;
		padding: 0;
		text-align: center;

		li{
			display: inline-block;
			vertical-align: top;
			margin: 0 4px;

			a{
				display: block;
				width: 42px;
				height: 42px;
				padding-top: 8px;
				
				color: $color_white;
				font-size: 16px;
				border: rgba($color_white, 0.17) 1px solid;
				@include borderRadius(50%);
				@include transition(border ease 0.2s, color ease 0.2s, background ease 0.2s);


				&:hover{
					border-color:$secondary_color;
					background: $secondary_color;
					color: $color_white;

					.ch-l-theme_1 &{
				    	border-color: $theme_1_s;
				    	color: $color_white;
				    	background: $theme_1_s;
				    }
				    .ch-l-theme_2 &{
				    	border-color: $theme_2_s;
				    	color: $color_white;
				    	background: $theme_2_s;
				    }
				    .ch-l-theme_3 &{
				    	border-color: $theme_3_s;
				    	color: $color_white;
				    	background: $theme_3_s;
				    }
				    .ch-l-theme_4 &{
				    	border-color: $theme_4_s;
				    	color: $color_white;
				    	background: $theme_4_s;
				    }
				    .ch-l-theme_5 &{
				    	border-color: $theme_5_s;
				    	color: $color_white;
				    	background: $theme_5_s;
				    }
				    .ch-l-theme_6 &{
				    	border-color: $theme_6_s;
				    	color: $color_white;
				    	background: $theme_6_s;
				    }
				    .ch-l-theme_7 &{
				    	border-color: $theme_7_s;
				    	color: $color_white;
				    	background: $theme_7_s;
				    }
				}
			}
		}
	}
}

.ch-l-footer__widget{
	.jetpack_subscription_widget{
		max-width: 550px;
		margin: 0 auto;
		background: none;
		padding: 0;

		.widgettitle{
			text-align: center;
			font-size: 30px;
			color: $color_white;
			font-weight: 900;
			margin: 0 0 20px;
			padding: 0px;
			text-transform: none;

			@media screen and(max-width: 767px){
				font-size: 24px;
			}

			@media screen and(max-width: 480px){
				font-size: 24px;
			}
		}
		.error, .success{
			font-size: 14px;
			font-weight: 400;
			line-height: 19px;
			background: rgba($error, 0.22);
			border: rgba($error, 0.40) 1px solid;
			padding: 7px;
			color: rgba($color_white, 0.43);

			@include borderRadius(2px);
		}
		.success{
			*{
				margin: 0;
			}
			background: rgba($sucess, 0.22);
			border-color: rgba($sucess, 0.41);
		}
		
		form{
			&::after{
				content:'';
				clear: both;
				display: block;
				overflow: hidden;
			}
		}
		#subscribe-email{
			input{
				background: none;
				padding: 28px 88px 28px 17px;
				font-size: 20px;
				font-weight: 400;
				border: none;
				border-bottom: rgba($color_white, 0.13) 2px solid;
				color: rgba($color_white, 0.50);

				@include borderRadius(0);
				@include transition(border ease 0.2s, color ease 0.2s, background ease 0.2s);

				&::focus{
					border-color: rgba($color_white, 0.33);
				}
				::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: rgba($color_white, 0.50);
				}
				::-moz-placeholder { /* Firefox 19+ */
				  color: rgba($color_white, 0.50);
				}
				:-ms-input-placeholder { /* IE 10+ */
				  color: rgba($color_white, 0.50);
				}
				:-moz-placeholder { /* Firefox 18- */
				 	color: rgba($color_white, 0.50);
				}
			}
		}
		#subscribe-submit{
			float: right;
			width: 51px;
			position: relative;
			margin-top: -83px;
			margin-right: 18px;

			&::after{
				content: "\f1d8";
				font-family: $font_4;
				font-size: 16px;
				text-align: center;
				color: $color_white;	
				width: 51px;
				height: 51px;
				display: block;
				border: none;
				padding: 0;
				overflow: hidden;
				padding-top: 14px;
				background: $secondary_color;
				position: absolute;
				top: 0px;
				right: 0px;
				pointer-events: none;

				@include borderRadius(50%);
				@include transition(color ease 0.2s, background ease 0.2s);

				.ch-l-theme_1 &{
			    	color: $color_white;
			    	background: $theme_1_s;
			    }
			    .ch-l-theme_2 &{
			    	color: $color_white;
			    	background: $theme_2_s;
			    }
			    .ch-l-theme_3 &{
			    	color: $color_white;
			    	background: $theme_3_s;
			    }
			    .ch-l-theme_4 &{
			    	color: $color_white;
			    	background: $theme_4_s;
			    }
			    .ch-l-theme_5 &{
			    	color: $color_white;
			    	background: $theme_5_s;
			    }
			    .ch-l-theme_6 &{
			    	color: $color_white;
			    	background: $theme_6_s;
			    }
			    .ch-l-theme_7 &{
			    	color: $color_white;
			    	background: $theme_7_s;
			    }
			}
			input, button{
				width: 51px;
				height: 51px;
				display: block;
				border: none;
				padding: 0;
				text-indent: 9999px;
				overflow: hidden;
				opacity: 0;
				filter:alpha(opacity = 0);
				position: relative;
				z-index: 1;
				@include borderRadius(50%);
			}

		}
	}
}