.ch-c-text-feild{
	height: auto;
	font-size: 16px;
	border: lighten($color_black, 80%) 1px solid;
	line-height: normal;
	padding: 8px 16px;
	width: 100%;

	@include boxShadow(none);
	@include borderRadius(3px);

	&:focus{
		@include boxShadow(none);
		border-color: lighten($color_black, 50%);
	}
}