.header{
	position: relative;
	z-index: 101;

	.ch-l-logo{
		position: fixed;
		margin: 0;
		background: $primary_color;
		width: 70px;
		height: 70px;
		font-weight: 400;

		@include transition(width cubic-bezier(0.25, 0.1, 0, 1.04) 0.4s, background cubic-bezier(0.25, 0.1, 0, 1.04) 0.4s);

		@media screen and (max-width: 991px){
			width: 50px;
    		height: 50px;
		}

		a{
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			padding: 18px 0 0 19px;

			@media screen and (max-width: 991px){
				padding: 14px 0 0 13px;
			}
			i{
				font-size: 33px;
				color: rgba($color_white, 0.50);
				float: left;

				@include transition(color cubic-bezier(0.25, 0.1, 0, 1.04) 0.4s);

				@media screen and (max-width: 991px){
					font-size: 24px;
				}
			}
			&::after{
				content: '';
				clear: both;
				display: block;
				overflow: hidden;
			}
			.ch-l-logo--text{
				overflow: hidden;
				white-space: nowrap;
				padding-left: 4px;

				opacity: 0;
				filter: alpha(opacity=0);

				@include transition(opacity 0.5s cubic-bezier(0.07, 0.51, 0.13, 0.96), transform cubic-bezier(0.13, 0.63, 0.25, 1) 0.5s);
				@include transform(translate(20px, 0px));

				.ch-l-logo--large{
					display: block;
					font-family: $font_5;
					font-size: 21px;
					text-transform: uppercase;
					color: rgba($color_white, 1);
					line-height: 24px;

					@media screen and (max-width: 991px){
						font-size: 15px;
						line-height: 17px;
					}
				}
				.ch-l-logo--small{
					display: block;
					font-family: $font_1;
					font-weight: 300;
					font-size: 10px;
					line-height: normal;
					color: rgba($color_white, 0.9);
					position: relative;
    				top: -3px;

    				@media screen and (max-width: 991px){
    					font-size: 11px;
    				}
				}
			}
		}

		&:hover{
			width: 192px;
			@media screen and (max-width: 991px){
				width: 162px;
			}
			i{
				color: rgba($color_white, 1);
			}	
			.ch-l-logo--text{
				opacity: 1;
				filter: alpha(opacity=100);
				@include transform(translate(0px, 0px));
			}
		}
	}
	.ch-l-nav--holder{
		position: fixed;
		top: 0px;
		right: 0px;
		background: $secondary_color;
		width: 70px;
		height: 70px;
		padding-top: 27px;
		cursor: pointer;

		@include transition( background cubic-bezier(0.25, 0.1, 0, 1.04) 0.4s, right ease 0.2s);

		@media screen and (max-width: 991px){	
			width: 50px;
    		height: 50px;
    		padding-top: 18px;
		}
		.ch-l-nav--span{
			width: 26px;
			height: 2px;
			display: block;
			background: $color_white;
			margin: 0 auto;

			@include transition(all ease 0.2s);
			@include transformOrigin(center center);

			@media screen and (max-width: 991px){	
				width: 22px;
			}
			+ *{
				margin-top: 5px;
			}
		}

		&:hover, &:focus{
			background: lighten($secondary_color, 5%);
		}

		&.active{
			right: 250px;
			span{
				&:first-child{
					width: 20px;
					@include transform(rotate(40deg) translate(4px, -2px));
				}
				&:last-child{
					width: 20px;
					@include transform(rotate(-40deg) translate(4px, 2px));
				}
			}
		}
	}

	&.ch-l-header__new{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		.ch-l-logo__new{
			margin: 0px;
			padding: 12px 0;
			max-width: 65px;

			a{
				svg{
					max-width: 100%;
					height: auto;
					display: block;
				
					path{
						fill: $color_white;

						@include transition(fill ease 0.2s);

						&.ch-l-logo-ach__left{
							fill: $primary_color;

							.ch-l-theme_1 &{
						    	fill: $theme_1_p;
						    }
						    .ch-l-theme_2 &{
						    	fill: $theme_2_p;
						    }
						    .ch-l-theme_3 &{
						    	fill: $theme_3_p;
						    }
						    .ch-l-theme_4 &{
						    	fill: $theme_4_p;
						    }
						    .ch-l-theme_5 &{
						    	fill: $theme_5_p;
						    }
						    .ch-l-theme_6 &{
						    	fill: $theme_6_p;
						    }
						    .ch-l-theme_7 &{
						    	fill: $theme_7_p;
						    }
						}
						&.ch-l-logo-ach__right{
							fill: $secondary_color;

							.ch-l-theme_1 &{
						    	fill: $theme_1_s;
						    }
						    .ch-l-theme_2 &{
						    	fill: $theme_2_s;
						    }
						    .ch-l-theme_3 &{
						    	fill: $theme_3_s;
						    }
						    .ch-l-theme_4 &{
						    	fill: $theme_4_s;
						    }
						    .ch-l-theme_5 &{
						    	fill: $theme_5_s;
						    }
						    .ch-l-theme_6 &{
						    	fill: $theme_6_s;
						    }
						    .ch-l-theme_7 &{
						    	fill: $theme_7_s;
						    }
						}
					}
				}
			}	
			@media screen and (max-width: 600px){
				padding: 8px 0;
    			max-width: 46px;
			}
		}

		.ch-l-nav__new{
			.ch-l-nav--holder__new{
				float: right;
    			margin-top: 21px;
    			cursor: pointer;
    			position: relative;
    			z-index: 11;

    			@media screen and (max-width: 600px){
    				margin-top: 15px;
    			}
				.ch-l-nav--span{
					width: 26px;
					height: 2px;
					display: block;
					background: $color_white;
					margin: 0 auto;

					@include transition(all ease 0.2s);
					@include transformOrigin(center center);

					@media screen and (max-width: 991px){	
						width: 22px;
					}
					+ *{
						margin-top: 5px;
					}
				}
				.ch-l-nav--holder__svg{
					position: absolute;
					top:-6px;
					right: 0;
					width: 41px;
					height: 35px;
					overflow: hidden;
					
					@media screen and (max-width:600px){
						top: -10px;
					}
					svg{
						width: 110px;
    					height: 59px;
						cursor: pointer;
						margin: -14px 0px 0px -42px;

						@include transform(translate3d(0, 0, 0));
					}	
					
				 	
				 	path {
					    fill: none;
					    @include transition(stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25));
					    
					    stroke-width: 24px;
					    stroke-linecap: round;
					    stroke: $secondary_color;
					    stroke-dashoffset: 0px;

					    .ch-l-theme_1 &{
					    	stroke: $theme_1_s;
					    }
					    .ch-l-theme_2 &{
					    	stroke: $theme_2_s;
					    }
					    .ch-l-theme_3 &{
					    	stroke: $theme_3_s;
					    }
					    .ch-l-theme_4 &{
					    	stroke: $theme_4_s;
					    }
					    .ch-l-theme_5 &{
					    	stroke: $theme_5_s;
					    }
					    .ch-l-theme_6 &{
					    	stroke: $theme_6_s;
					    }
					    .ch-l-theme_7 &{
					    	stroke: $theme_7_s;
					    }
					}
					path#top, path#bottom {
					    stroke-dasharray: 240px 950px;
					}
					path#middle {
					    stroke-dasharray: 240px 240px;
					}
				}

				&.active, &:hover{
					.ch-l-nav--span{
						background: $primary_color;
					}
				}
				&.active{
					.ch-l-nav--holder__svg{
						path#top,  path#bottom{
							stroke-dashoffset: -650px;
						}
						path#middle{
						    stroke-dashoffset: -115px;
						    stroke-dasharray: 1px 220px;
						}
					}
				}
			}
			.ch-l-nav__table{
				display: table;
				width: 100%;
				height: 100%;
			}
			.ch-l-nav__cell{
				display: table-cell;
				vertical-align: middle;
			}
			ul{
    			text-align: left;
				> li{
					
					line-height: normal;
					position: relative;
					margin: 10px 0;


					> a{
						line-height: 35px;
						font-size: 27px;
						color: rgba($color_white, 0.50);
						padding: 8px 20px;
    					display: inline-block;
    					font-weight: 300;
    					@include transition(background ease 0.2s, color ease 0.2s);
    					@include borderRadius(3px);

						&:hover{
							background: $secondary_color;
							color: $color_white;

							.ch-l-theme_1 &{
						    	background: $theme_1_s;
						    }
						    .ch-l-theme_2 &{
						    	background: $theme_2_s;
						    }
						    .ch-l-theme_3 &{
						    	background: $theme_3_s;
						    }
						    .ch-l-theme_4 &{
						    	background: $theme_4_s;
						    }
						    .ch-l-theme_5 &{
						    	background: $theme_5_s;
						    }
						    .ch-l-theme_6 &{
						    	background: $theme_6_s;
						    }
						    .ch-l-theme_7 &{
						    	background: $theme_7_s;
						    }
						}	

						@media screen and (max-width: 767px){
							font-size: 17px;
							line-height: 21px;
						}		
					}		
					.sub-menu{
						display: none;
						position: absolute;
						top: 73px;
						left: 0px;
						width: 100%;
						min-width: 250px;
						background: $secondary_color;

						> li{
							display: block;
							float: none;
							line-height: normal;
						}
					}


				}
			}
			.ch-l-nav__new-outer{
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba($color_black, 0.90);
				display: none;
				padding: 0 10px;
			}
		}
	}
}

.ch-l-nav__scroll{
	max-width: 400px;
	max-height: 80vh;
	margin: 0 auto;
	overflow: hidden;

	.mCSB_1_scrollbar{
		.mCSB_draggerContainer{
			.mCSB_draggerRail{
				background: none;
			}
		}
	}
}







