.ch-l-not-found{
	height: 100vh;

	@media screen and (max-width: 767px){
		height: auto;
		min-height: 100vh;
	}
	.container{
		max-width: 74%;
		height: 100%;

		@media screen and (max-width: 991px){
			max-width: 100%;
		}
	}
	.ch-l-not-found-row{
		height: 100%;

		@include flexbox();
		@include align-items(center);

		@media screen and (max-width: 767px){
			@include flex-direction(column-reverse);
		}
		.ch-l-not-found-col{
			width: 50%;

			@include flex(0 0 50%);

			@media screen and (max-width: 767px){
				width: 100%;
				@include flex(0 0 100%);
			}
		}
		.ch-l-not-found__image{
			@include flexbox();
			@include justify-content(center);

			img{
				@media screen and (max-width: 767px){
					max-width: 120px;
					/* height: auto; */
					max-height: 170px;
				}
			}
		}
		.ch-l-no-found__content{
			@media screen and (max-width: 767px){
				text-align: center;
				padding-top: 25px;
			}
			h1{
				font-size: 175px;
				margin: 0px 0 64px;
				line-height: 136px;
				color: #ffaa91;

				@media screen and (max-width: 1200px){
					font-size: 136px;
					margin-bottom: 25px;
				}
				@media screen and (max-width: 991px){
					font-size: 86px;
					margin-bottom: 21px;
					line-height: 72px;
				}
			}
			h2{
				font-size: 50px;
				line-height: 44px;
				font-weight: 700;
				color: #949494;
				margin-bottom: 32px;

				@media screen and (max-width: 1200px){
					font-size: 31px;
					line-height: 30px;
					margin-bottom: 14px;
				}
				@media screen and (max-width: 991px){
					font-size: 24px;
					line-height: 25px;
					margin-bottom: 9px;
				}
			}
			p{
				font-size: 17px;
				font-weight: 400;
				color: #b3b1b1;
				padding-left: 5px;
				margin-bottom: 18px;
			}
			.ch-c-btn--more{
				padding: 13px 17px 12px;

				&:before{
					display: none;
				}
			}
		}
	}
}