.ch-l-pagination{
	text-align: center;
	margin: 50px 0 30px;

	.navigation{
		li{
			display: inline-block;
			margin: 0 3px;
			vertical-align: top;
			a{
				display: block;
				width: 35px;
				height: 35px;
				border: transparent 1px solid;
				color: rgba($color_black, 0.45);
				font-size: 14px;
				font-weight: 700;
				padding: 5px 0 0 0;


				@include borderRadius(50%);
				@include transition(color ease 0.2s, border ease 0.2s, background ease 0.2s);

				.ch-l-theme__dark &{
    				color: #cccccc;
				}
			}
			
			&:hover{
				a{
					color: rgba($color_black, 0.80);

					.ch-l-theme__dark &{
						color: #cccccc;
					}
				}
			}
			&.active{
				a{
					border-color: $secondary_color;
					background: $secondary_color;
					color: $color_white;

					.ch-l-theme_1 &{
				    	border-color: $theme_1_s;
				    	background: $theme_1_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_2 &{
				    	border-color: $theme_2_s;
				    	background: $theme_2_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_3 &{
				    	border-color: $theme_3_s;
				    	background: $theme_3_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_4 &{
				    	border-color: $theme_4_s;
				    	background: $theme_4_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_5 &{
				    	border-color: $theme_5_s;
				    	background: $theme_5_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_6 &{
				    	border-color: $theme_6_s;
				    	background: $theme_6_s;
				    	color: $color_white;
				    }
				    .ch-l-theme_7 &{
				    	border-color: $theme_7_s;
				    	background: $theme_7_s;
				    	color: $color_white;
				    }
				}
			}

			&.prev, &.next{
				position: relative;
				top: -2px;
				
				a{
					overflow: hidden;
					text-indent: -9999px;
					width: 50px;
					position: relative;
					font-weight: normal;

					&::before{
						content:'';
						font-family: $font_4;
						display: inline-block;
						position: absolute;
						top: 5px;
						left: 0;
						font-size: 25px;
						text-indent: 0px;
						text-align: center;
   						width: 100%;
					}
					.ch-l-theme__dark &{
						background: none;
						color: #cccccc;
					}
				}
			}
			&.prev{
				a{
					&::before{
						content: "\f104";
					}
				}
			}
			&.next{
				a{
					&::before{
						content: "\f105";
					}
				}
			}
		}
	}
}