.ch-l-search--wrap{
	position: relative;

	.ch-l-input--search{
		border: none;
		height: auto;
		/*line-height: normal;*/
		font-size: 30px;
		font-weight: 700;
		color: $content_color; 
		padding: 12px 80px 12px 114px;

		@include borderRadius(3px);
		@include boxShadow(0px 0px 0px 3px rgba($color_black, 0.20));
		@include transition(color ease 0.2s); 

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		@media screen and (max-width: 991px){
			font-size: 24px;
			padding-left: 88px;
		}
		@media screen and (max-width: 767px){
			padding-left: 73px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 20px;
		}
	}

	&::before{
		content: "\e902";
		font-family: $font_3;
		font-size: 70px;
		color: $secondary_color;
		position: absolute;
		top: 20px;
		left: 9px;
		z-index: 1;

		@include transition(color ease 0.2s);

		.ch-l-theme_1 &{
	    	color: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	color: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	color: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	color: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	color: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	color: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	color: $theme_7_p;
	    }
		@media screen and (max-width: 991px){
			font-size: 50px;
			top: 19px;
		}

		@media screen and (max-width: 767px){
			font-size: 38px;
		    top: 10px;
    		left: 8px;
		}
	}
	&::after{
		content: '';
		width: 1px;
		height: 100%;
		max-height: 53px;
		position: absolute;
		top: 0px;
		left: 88px;
		bottom: 0px;
		margin: auto;
		background: lighten($color_black, 87%);
		
		@media screen and (max-width: 991px){
			left: 66px;
		}
		@media screen and (max-width: 767px){
			left: 54px;
    		max-height: 32px;
		}
		.ch-l-theme__dark &{
			background: #605f5f;
		}
	}
	.ch-l-button--search{
		position: absolute;
		top: 0px;
		right: 0px;
		border: none;
		width: 70px;
		height: 100%;
		background: $secondary_color;
		color: $color_white;
		font-size: 42px;

		@include transition(color ease 0.2s, background ease 0.2s);
		@include borderRadius(0 3px 3px 0);

		.ch-l-theme_1 &{
	    	background: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	background: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	background: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	background: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	background: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	background: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	background: $theme_7_p;
	    }

		&:focus, &:hover{
			background: lighten($secondary_color, 10%);

			.ch-l-theme_1 &{
		    	background: lighten($theme_1_p, 10%);
		    }
		    .ch-l-theme_2 &{
		    	background: lighten($theme_2_p, 10%);
		    }
		    .ch-l-theme_3 &{
		    	background: lighten($theme_3_p, 10%);
		    }
		    .ch-l-theme_4 &{
		    	background: lighten($theme_4_p, 10%);
		    }
		    .ch-l-theme_5 &{
		    	background: lighten($theme_5_p, 10%);
		    }
		    .ch-l-theme_6 &{
		    	background: lighten($theme_6_p, 10%);
		    }
		    .ch-l-theme_7 &{
		    	background: lighten($theme_7_p, 10%);
		    }
		}

		@media screen and (max-width: 991px){
			font-size: 35px;
			width: 60px;
		}
		@media screen and (max-width: 767px){
			font-size: 28px;
    		width: 44px;
		}
		
	}	

	/* Plugin search */

	.ysm-search-widget{
		.search-form{
			> label{
				margin-bottom: 0;
			}
			.search-field{
				@extend .form-control;
				font-style: normal;
				text-indent: 0;
				border: none;
				height: auto;
				/*line-height: normal;*/
				font-size: 30px;
				font-weight: 700;
				color: $content_color; 
				padding: 12px 80px 12px 114px;
				line-height: normal;
				background-position: 92% center !important;

				@include borderRadius(3px);
				@include boxShadow(0px 0px 0px 3px rgba($color_black, 0.20));
				@include transition(color ease 0.2s, box-shadow ease 0.2s); 
				
				.ch-l-theme__dark &{
					background: #383838;
					color: #e5e5e6;

					@include boxShadow(0px 0px 0px 3px rgba(255, 255, 255, 0.2));
				}

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  font-weight: 300;
				  color: rgba($color_black, 0.40);

				  .ch-l-theme__dark &{
					color: #e5e5e6;
				  }
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  font-weight: 300;
				  color: rgba($color_black, 0.40);
				  .ch-l-theme__dark &{
					color: #e5e5e6;
				  }
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  font-weight: 300;
				  color: rgba($color_black, 0.40);

				  .ch-l-theme__dark &{
					color: #e5e5e6;
				  }
				}
				&:-moz-placeholder { /* Firefox 18- */
				  font-weight: 300;
				  color: rgba($color_black, 0.40);

				  .ch-l-theme__dark &{
					color: #e5e5e6;
				  }
				}
				&:focus{
					@include boxShadow(0px 0px 0px 3px rgba($color_black, 0.50));

					.ch-l-theme__dark &{
						@include boxShadow(0px 0px 0px 3px rgba(255, 255, 255, 0.2));
					}
				}
				@media screen and (max-width: 1200px){
					background-position: 90% center !important;
				}
				@media screen and (max-width: 991px){
					font-size: 24px;
					padding-left: 88px;
				}
				@media screen and (max-width: 767px){
					padding-left: 73px;
					padding-top: 10px;
					padding-bottom: 10px;
					font-size: 20px;
				}
			}
			.search-submit{
				position: absolute;
				top: 0px;
				right: 0px;
				border: none;
				width: 70px;
				height: 100%;
				background: $secondary_color;
				color: $color_white;
				font-size: 42px;

				@include transition(color ease 0.2s, background ease 0.2s);
				@include borderRadius(0 3px 3px 0);

				&:before{
					content: "\f105";
					font-size: 35px;
					font-family: $font_4;
				}
				.ch-l-theme_1 &{
			    	background: $theme_1_p;
			    }
			    .ch-l-theme_2 &{
			    	background: $theme_2_p;
			    }
			    .ch-l-theme_3 &{
			    	background: $theme_3_p;
			    }
			    .ch-l-theme_4 &{
			    	background: $theme_4_p;
			    }
			    .ch-l-theme_5 &{
			    	background: $theme_5_p;
			    }
			    .ch-l-theme_6 &{
			    	background: $theme_6_p;
			    }
			    .ch-l-theme_7 &{
			    	background: $theme_7_p;
			    }

				&:focus, &:hover{
					background: lighten($secondary_color, 10%);

					.ch-l-theme_1 &{
				    	background: lighten($theme_1_p, 10%);
				    }
				    .ch-l-theme_2 &{
				    	background: lighten($theme_2_p, 10%);
				    }
				    .ch-l-theme_3 &{
				    	background: lighten($theme_3_p, 10%);
				    }
				    .ch-l-theme_4 &{
				    	background: lighten($theme_4_p, 10%);
				    }
				    .ch-l-theme_5 &{
				    	background: lighten($theme_5_p, 10%);
				    }
				    .ch-l-theme_6 &{
				    	background: lighten($theme_6_p, 10%);
				    }
				    .ch-l-theme_7 &{
				    	background: lighten($theme_7_p, 10%);
				    }
				}

				@media screen and (max-width: 991px){
					font-size: 35px;
					width: 60px;
				}
				@media screen and (max-width: 767px){
					font-size: 28px;
		    		width: 44px;
				}
			}
			.smart-search-results{
				@include boxShadow(0px 9px 17px 0px rgba($color_black, 0.2));

				.smart-search-suggestions{
					border-color: #f3f3f3;

					.autocomplete-suggestion{
						padding: 0px;
						border-color: #f3f3f3;

						@include transition(background ease 0.2s);

						&.autocomplete-selected{
							opacity: 1;
							background: #f9f9f9;
						}
						.smart-search-post{
							padding: 15px;

							@include flexbox();
							@include align-items(center);

							.smart-search-post-icon{
								width: 55px;
								height: 55px;
								margin-bottom: 0;
								background: rgba($color_black, 0.03);
								overflow: hidden;
								position: relative;
								
								@include borderRadius(50%);
								@include flex(0 0 55px);
								@include flex-shrink(0);

								@media screen and (max-width: 600px){
									width: 40px;
									height: 40px;
									@include flex(0 0 40px);
								}
								img{
									position: absolute;
									top: 0;
									right: 0;
									bottom: 0;
									left: 0;
									margin: auto;
									width: 100%;
									max-width: none;
									height: 100%;
								}
							}
							.smart-search-post-holder{
								width: 100%;

								strong{
									font-weight: 700;
									color: $primary_color;

									.ch-l-theme_1 &{
								    	color: $theme_1_p;
								    }
								    .ch-l-theme_2 &{
								    	color: $theme_2_p;
								    }
								    .ch-l-theme_3 &{
								    	color: $theme_3_p;
								    }
								    .ch-l-theme_4 &{
								    	color: $theme_4_p;
								    }
								    .ch-l-theme_5 &{
								    	color: $theme_5_p;
								    }
								    .ch-l-theme_6 &{
								    	color: $theme_6_p;
								    }
								    .ch-l-theme_7 &{
								    	color: $theme_7_p;
								    }
								}
								.smart-search-post-title{
									font-size: 17px;
									line-height: normal;
									margin-bottom: 4px;

									@media screen and (max-width: 600px){
										font-size: 15px;
									}
								}
								.smart-search-post-excerpt{
									margin: 0;
									font-size: 13px;
									color: #adadad;
								}
							}
						}
					}
				}
				.smart-search-view-all-holder{
					.smart-search-view-all{
						background: $theme_1_p;
						color: $color_white;
						height: auto;
						line-height: normal;
						font-size: 15px;
						font-weight: 400;
						padding: 9px 0px;

    					@include transition(color ease 0.2s, background ease 0.2s);

						.ch-l-theme_1 &{
					    	background: $theme_1_p;
					    }
					    .ch-l-theme_2 &{
					    	background: $theme_2_p;
					    }
					    .ch-l-theme_3 &{
					    	background: $theme_3_p;
					    }
					    .ch-l-theme_4 &{
					    	background: $theme_4_p;
					    }
					    .ch-l-theme_5 &{
					    	background: $theme_5_p;
					    }
					    .ch-l-theme_6 &{
					    	background: $theme_6_p;
					    }
					    .ch-l-theme_7 &{
					    	background: $theme_7_p;
					    }
					    &:focus, &:hover{
							background: lighten($secondary_color, 10%);

							.ch-l-theme_1 &{
						    	background: lighten($theme_1_p, 10%);
						    }
						    .ch-l-theme_2 &{
						    	background: lighten($theme_2_p, 10%);
						    }
						    .ch-l-theme_3 &{
						    	background: lighten($theme_3_p, 10%);
						    }
						    .ch-l-theme_4 &{
						    	background: lighten($theme_4_p, 10%);
						    }
						    .ch-l-theme_5 &{
						    	background: lighten($theme_5_p, 10%);
						    }
						    .ch-l-theme_6 &{
						    	background: lighten($theme_6_p, 10%);
						    }
						    .ch-l-theme_7 &{
						    	background: lighten($theme_7_p, 10%);
						    }
						}
					}
				}
				.nano-pane{
					right: 2px;
					background: none;
					width: 8px;

					.nano-slider{
						background: rgba($color_black, 0.31);
					}
				}
			}
		}
	}
}

