.ch-l-sidebar{
	> div{
		+ div{
			border-top: rgba($color_black, 0.07) 1px solid;
			margin-top: 40px;
			padding-top: 40px; 
		}
	}
	h4{
		margin: 0px 0px 23px;
    	font-size: 28px;
    	font-family: $font_1;
		font-weight: 900;
		
		.ch-l-theme__dark &{
			color: #ffffff;
		}

    	@media screen and (max-width: 991px){
    		font-size: 24px;
    	}
    	@media screen and (max-width: 767px){
    		font-size: 20px;
    	}
    	@media screen and (max-width: 600px){
    		font-size: 18px;
    	}
	}
	/*> div + div{
		margin-top:  40px;
	}*/
	@media screen and (max-width: 767px){
		margin-top: 45px;
	}
}
.cs-l-sidebar--category{
	ul{
		margin: 0;
		padding: 0;

		li{
			+ li{
				margin-top: 20px;
			}
			a{
				display: block;
				font-size: 15px;
				color: lighten($color_black, 60%);
				line-height: 18px;
				position: relative;
				font-weight: 700;
				padding-right: 35px;

				@include transition(color ease 0.2s);

				.ch-l-theme__dark &{
					color: #dddddd;
				}

				&::before{
					/*content: "\f115";*/
					font-family: $font_4;
					display: inline-block;
					color: lighten($color_black, 60%);
					font-size: 14px;
					position: absolute;
					top: 5px;
					left: 0px;

					@include transition(color ease 0.2s);

					
    			}

    			span{
    				position: absolute;
    				top: 0px;
    				right: 0px;
    				width: 33px;
    				text-align: center;
    				font-size: 13px;
    				background: lighten($color_black, 90%);

    				@include borderRadius(25px);
					@include transition(color ease 0.2s, background ease 0.2s);
					
					.ch-l-theme__dark &{
						background: #363636;
					}

    			}
    			&:hover, &:focus{
					color: $secondary_color;
					
    				.ch-l-theme_1 &{
				    	color: $theme_1_s;
				    }
				    .ch-l-theme_2 &{
				    	color: $theme_2_s;
				    }
				    .ch-l-theme_3 &{
				    	color: $theme_3_s;
				    }
				    .ch-l-theme_4 &{
				    	color: $theme_4_s;
				    }
				    .ch-l-theme_5 &{
				    	color: $theme_5_s;
				    }
				    .ch-l-theme_6 &{
				    	color: $theme_6_s;
				    }
				    .ch-l-theme_7 &{
				    	color: $theme_7_s;
					}
					.ch-l-theme__dark &{
						color: #c7c7c7;
					}
    				&::before{
    					color: lighten($color_black, 20%);
    				}
    				span{
    					background: $secondary_color;
    					color: $color_white;

    					.ch-l-theme_1 &{
					    	background: $theme_1_s;
					    }
					    .ch-l-theme_2 &{
					    	background: $theme_2_s;
					    }
					    .ch-l-theme_3 &{
					    	background: $theme_3_s;
					    }
					    .ch-l-theme_4 &{
					    	background: $theme_4_s;
					    }
					    .ch-l-theme_5 &{
					    	background: $theme_5_s;
					    }
					    .ch-l-theme_6 &{
					    	background: $theme_6_s;
					    }
					    .ch-l-theme_7 &{
					    	background: $theme_7_s;
						}
						.ch-l-theme__dark &{
							background: #575757;
						}
    				}
    			}
			}
		}
	}
}

.ch-l-sidebar--subscribe{
	background: $light_grey;
	padding: 25px;
	max-width: 300px;

	h3{
		text-transform: uppercase;
		font-size: 21px;
		color: $dark_grey;
		font-weight: 700;
		margin: 0px 0 11px;
	}
	p{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	.ch-c-text-feild{
		margin-bottom: 21px;
	}
	.ch-btn-primary{
		width: 100%;
		max-width: 101px;
		display: block;
	}
}
.ch-l-sidebar--widject{
	background: $light_grey;
	padding: 25px;
	max-width: 300px;

	.widgettitle{
		text-transform: uppercase;
		font-size: 21px;
		color: $dark_grey;
		font-weight: 700;
		margin: 0px 0 11px;
		    line-height: normal;
	}
	#subscribe-text{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	#subscribe-email{
		input{
			@extend .ch-c-text-feild;
			width: 100%;
		}
	}
	#subscribe-submit{
		margin: 0;
		input{
			@extend .ch-btn-primary;
			width: 100%;
			max-width: 101px;
			display: block;
		}
	}
	.error, .success{
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		background: rgba($error, 0.08);
		border: rgba($error, 0.18) 1px solid;
		padding: 7px;

		@include borderRadius(2px);
	}
	.success{
		*{
			margin: 0;
		}
		background: rgba($sucess, 0.08);
		border-color: rgba($sucess, 0.18);
	}
	
}
.ch-l-siderbar--wrapper{
	position: static;
}
.ch-l-sidebar--widject{
	li{
	margin-bottom:  40px;
	}
}

.cs-l-sidebar--popular{
	ul{
		margin: 0px;
		padding: 0;

		li{
			list-style: none;

			+ li{
				margin-top: 20px;
			}

			.ch-l-popular__wrap{
				display: table;
				width: 100%;
			}
			.ch-l-popular__cell{
				width: 57px;
				display: table-cell;
				vertical-align: top;
			}
			.ch-l-popular__avatar{
				width: 57px;
				height: 57px;
				background: lighten($color_black, 95%);
				position: relative;
				overflow: hidden;

				@include borderRadius(50%);

				a{
					display: block;
					overflow: hidden;
					/*display: -webkit-box;      
					display: -moz-box;        
					display: -ms-flexbox;     
					display: -webkit-flex;    
					display: flex;             
					align-items: center;
					height: 100%;*/
				}
				img{
					max-width: none;
					max-height: none;
					margin: 0 auto;
					&.ch-l-popular__fallback{
						max-width: 100%;
					}
				}
			}
			.ch-l-popular__content{
				display: table-cell;
				vertical-align: middle;
				padding-left: 16px;

				h4{
					margin: 0px;
					padding: 0;
					font-size: 15px;
					font-weight: 900;
					line-height: 18px;
					color: lighten($color_black, 60%);

					a{
						color: lighten($color_black, 60%);
						
						.ch-l-theme__dark &{
							color: #dddddd;
						}
					}

					&:hover{
						a{
							color: $secondary_color;

							.ch-l-theme_1 &{
						    	color: $theme_1_s;
						    }
						    .ch-l-theme_2 &{
						    	color: $theme_2_s;
						    }
						    .ch-l-theme_3 &{
						    	color: $theme_3_s;
						    }
						    .ch-l-theme_4 &{
						    	color: $theme_4_s;
						    }
						    .ch-l-theme_5 &{
						    	color: $theme_5_s;
						    }
						    .ch-l-theme_6 &{
						    	color: $theme_6_s;
						    }
						    .ch-l-theme_7 &{
						    	color: $theme_7_s;
							}
							.ch-l-theme__dark &{
								color: #c7c7c7;
							}
						}
					}
				}
				.ch-l-popular__date{
					display: block;
					font-size: 13px;
					color: lighten($color_black, 60%);
					line-height: 17px;
					margin-top: 4px;
				}
			}
		}
	}
}