.ch-l-sportlight{
	background-color:$dark_grey;
	background-image:  url(../img/bg-banner.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 550px;
	padding: 192px 0 0 0;
	border-bottom: $secondary_color 4px solid;
	position: relative;
	
	@include backgroundSize(cover);
	@include transition(border ease 0.2s);

	.ch-l-theme_1 &{
    	border-color: $theme_1_s;
    }
    .ch-l-theme_2 &{
    	border-color: $theme_2_s;
    }
    .ch-l-theme_3 &{
    	border-color: $theme_3_s;
    }
    .ch-l-theme_4 &{
    	border-color: $theme_4_s;
    }
    .ch-l-theme_5 &{
    	border-color: $theme_5_s;
    }
    .ch-l-theme_6 &{
    	border-color: $theme_6_s;
    }
    .ch-l-theme_7 &{
    	border-color: $theme_7_s;
    }

    .container{
    	position: relative;
    	z-index: 1;
    }

    &:before{
    	content: '';
    	width: 100%;
    	height: 100%;
    	position: absolute;
    	top: 0;
    	left: 0;
    	background: rgba($secondary_color, 0.0);


    	@include transition(background ease 0.2s);

    	.ch-l-theme_1 &{
	    	background: rgba($theme_1_s, 0.15);
	    	@include linear-gradient(rgba($theme_1_s, 0.15), rgba($theme_1_p, 0.15));
	    }
	    .ch-l-theme_2 &{
	    	background: rgba($theme_2_s, 0.15);
	    	@include linear-gradient(rgba($theme_2_s, 0.15), rgba($theme_2_p, 0.15));
	    }
	    .ch-l-theme_3 &{
	    	background: rgba($theme_3_s, 0.15);
	    	@include linear-gradient(rgba($theme_3_s, 0.15), rgba($theme_3_p, 0.15));
	    }
	    .ch-l-theme_4 &{
	    	background: rgba($theme_4_s, 0.15);
	    	@include linear-gradient(rgba($theme_4_s, 0.15), rgba($theme_4_p, 0.15));
	    }
	    .ch-l-theme_5 &{
	    	background: rgba($theme_5_s, 0.15);
	    	@include linear-gradient(rgba($theme_5_s, 0.15), rgba($theme_5_p, 0.15));
	    }
	    .ch-l-theme_6 &{
	    	background: rgba($theme_6_s, 0.15);
	    	@include linear-gradient(rgba($theme_6_s, 0.15), rgba($theme_6_p, 0.15));
	    }
	    .ch-l-theme_7 &{
	    	background: rgba($theme_7_s, 0.15);
	    	@include linear-gradient(rgba($theme_7_s, 0.15), rgba($theme_7_p, 0.15));
		}
		.ch-l-theme__dark &{
			background: rgba(0, 0, 0, 0.51);
		}
    }

    &:after{
	    content: '';
	    width: 100%;
	    height: 0px;
	    position: absolute;
	    top: 0;
	    left: 0;

	    @include boxShadow(0px 3px 90px 50px rgba($color_black, 0.8));
    }
	@media screen and (max-width: 1200px){
		height: 500px;
		padding-top: 170px;
	}
	@media screen and (max-width: 991px){
		height: 400px;
		padding-top: 135px;
	}
	@media screen and (max-width: 767px){
	    height: 280px;
	    padding-top: 100px;
	}


	&.ch-l-sportlight--inner{
		height: 300px;
		padding-top: 125px;
		background-position: center center;

		@media screen and (max-width: 991px){
			height: 270px;
    		padding-top: 115px;
		}
		@media screen and (max-width: 767px){
			height: 230px;
    		padding-top: 107px;
		}
	}
}
.ch-sportlight--text{
	text-align: center;
	font-size: 42px;
	color: $color_white;
	line-height: 43px;
	margin: 0px auto;
	max-width: 856px;

	h2{
		font-size: 42px;
		line-height: 43px;
		font-weight: 100;
	}
}

.ch-l-sportlight__slider{
	padding: 10px;
	/*background: rgba($color_black, 0.18);*/
	margin-bottom: 111px;
	min-height: 80px;
	position: relative;
    z-index: 1;

	@include borderRadius(4px);

	@media screen and(max-width: 1200px ){
		margin-bottom: 81px;
	}
	
	@media screen and(max-width: 991px ){
		margin-bottom: 60px;
	}

	@media screen and(max-width: 767px ){
		margin-bottom: 30px;
		margin-bottom: 5px;
	}
	.ch-l-sportlight__slider--init{
		text-align: center;
		font-size: 43px;
		font-weight: 400;
		color: rgba($color_white, 0.85);
		margin: 0;
		padding: 0;


		.ti-container{
			padding: 6px 12px;
			background: rgba($primary_color, 0.80);

			@include borderRadius(4px);

			.ch-l-theme_1 &{
		    	background: rgba($theme_1_p, 0.80);
		    }
		    .ch-l-theme_2 &{
		    	background: rgba($theme_2_p, 0.80);
		    }
		    .ch-l-theme_3 &{
		    	background: rgba($theme_3_p, 0.80);
		    }
		    .ch-l-theme_4 &{
		    	background: rgba($theme_4_p, 0.80);
		    }
		    .ch-l-theme_5 &{
		    	background: rgba($theme_5_p, 0.80);
		    }
		    .ch-l-theme_6 &{
		    	background: rgba($theme_6_p, 0.80);
		    }
		    .ch-l-theme_7 &{
		    	background: rgba($theme_7_p, 0.80);
		    }
			.ch-l-theme__dark &{
				background: rgba(38, 38, 38, 0.8);
			}
		}

		@media screen and(max-width: 991px ){
			font-size: 35px;
		}
		@media screen and(max-width: 767px ){
			font-size: 23px;
		}
	}
}


