.ch-l-theme__switcher{
	position: fixed;
	top: 25%;
	right: -222px;
	width: 222px;
	background: $color_white;
	z-index: 50; 

	@include transition(right ease 0.2s);

	.ch-l-theme__dark & {
		background: #353535;
	}

	&.open{
		right: 0;
	}
	h4{
		margin: 0px;
		padding: 11px 0px;
		font-size: 15px;
		font-weight: 500;
		text-align: center;
		background: $secondary_color;
		color: $color_white;

		@include transition(background ease 0.2s);

		.ch-l-theme_1 &{
	    	background: $theme_1_s;
	    }
	    .ch-l-theme_2 &{
	    	background: $theme_2_s;
	    }
	    .ch-l-theme_3 &{
	    	background: $theme_3_s;
	    }
	    .ch-l-theme_4 &{
	    	background: $theme_4_s;
	    }
	    .ch-l-theme_5 &{
	    	background: $theme_5_s;
	    }
	    .ch-l-theme_6 &{
	    	background: $theme_6_s;
	    }
	    .ch-l-theme_7 &{
	    	background: $theme_7_s;
		}
		.ch-l-theme__dark & {
			background: #212121;
		}
	}

	.ch-l-theme__icon{
		position: absolute;
		top: 37px;
		left: -36px;
	    width: 37px;
	    height: 37px;
		background: $color_white;
		text-align: center;
		font-size: 13px;
		padding-top: 6px;
		cursor: pointer;
		border: $secondary_color 1px solid;
		border-right: 0;

		@include transition(border ease 0.2s);
		@include borderRadius(4px 0px 0px 4px);

		.ch-l-theme_1 &{
	    	border-color: $theme_1_s;
	    }
	    .ch-l-theme_2 &{
	    	border-color: $theme_2_s;
	    }
	    .ch-l-theme_3 &{
	    	border-color: $theme_3_s;
	    }
	    .ch-l-theme_4 &{
	    	border-color: $theme_4_s;
	    }
	    .ch-l-theme_5 &{
	    	border-color: $theme_5_s;
	    }
	    .ch-l-theme_6 &{
	    	border-color: $theme_6_s;
	    }
	    .ch-l-theme_7 &{
	    	border-color: $theme_7_s;
		}
		.ch-l-theme__dark & {
			background: #212121;
			border-color: #353535;
		}
	}
	.ch-l-theme__wrap{
		padding: 10px;
		font-size: 0;
		border: $secondary_color 1px solid;
		border-top: 0;
		@include transition(border ease 0.2s);

		.ch-l-theme_1 &{
	    	border-color: $theme_1_s;
	    }
	    .ch-l-theme_2 &{
	    	border-color: $theme_2_s;
	    }
	    .ch-l-theme_3 &{
	    	border-color: $theme_3_s;
	    }
	    .ch-l-theme_4 &{
	    	border-color: $theme_4_s;
	    }
	    .ch-l-theme_5 &{
	    	border-color: $theme_5_s;
	    }
	    .ch-l-theme_6 &{
	    	border-color: $theme_6_s;
	    }
	    .ch-l-theme_7 &{
	    	border-color: $theme_7_s;
		}
		.ch-l-theme__dark & {
			border-color: #353535;
		}

		.ch-l-theme__block{
			display: inline-block;
			width: 40px;
			height: 40px;
			background: $primary_color;
			vertical-align: top;
			position: relative;
			margin: 5px;
			overflow: hidden;
			cursor: pointer;
			
			@include borderRadius(50%);

			&::after{
				content: '';
				width: 34px;
				height: 34px;
				background: $secondary_color;
				position: absolute;
				bottom: 0px;
				left: 0px;
				top: 0px;
				right: 0px;
				margin: auto;

				@include borderRadius(50%);
			}

			&::before{
				content: "\f00c";
				font-family: $font_4;
				position: absolute;
				top: 0px;
				left: 0px;
				width: 100%;
				font-size: 20px;
				color: $color_white;
				text-align: center;
				padding-top: 8px;
				z-index: 1;
				font-size: 0px;

				@include transition(all ease 0.2s);
			}
			&.active{
				&::before{
					font-size:16px; 
				}
			}
			&.ch-l-theme__1{
				background: $theme_1_p;
				&::after{
					background: $theme_1_s;
				}
			}
			&.ch-l-theme__2{
				background: $theme_2_p;
				&::after{
					background: $theme_2_s;
				}
			}
			&.ch-l-theme__3{
				background: $theme_3_p;
				&::after{
					background: $theme_3_s;
				}
			}
			&.ch-l-theme__4{
				background: $theme_4_p;
				&::after{
					background: $theme_4_s;
				}
			}
			&.ch-l-theme__5{
				background: $theme_5_p;
				&::after{
					background: $theme_5_s;
				}
			}
			&.ch-l-theme__6{
				background: $theme_6_p;
				&::after{
					background: $theme_6_s;
				}
			}
			&.ch-l-theme__7{
				background: $theme_7_p;
				&::after{
					background: $theme_7_s;
				}
			}
			&.ch-l-theme__dark{
				background: #b2b2b2;
				&::after{
					background: #404041;
				}
			}
		}
	}
}