.gurlpb{
	div.guteurlsBox{
		div.guteurlsBottom{
			margin: 15px 0 0 0;
			.guteurlsGU{
				display: none;
			}
			b{
				.guteurlsRead{
					@extend .ch-c-btn--more;
					font-family: $font_1;
					margin-left: -17px;
				}
			}
		}
	}
	
	.guteUrls{
		.guteurlsTop{
			margin: 0px;
			padding: 0px 0px 10px;
			height: auto;
			font-family: $font_1;
			font-weight: 700;
			text-transform: capitalize;
			color: $content_color;
		}
		.guteurlsBox{
			h1{
				font-family: $font_1;
				font-size: 20px;
				font-weight: 700;
				line-height: 23px;
				margin: 0px 0px 10px;
				color: $content_color;
			}
			p{
				font-size: 16px;
				color: $content_color;
				font-weight: 400;
				line-height: 24px;
				font-family: $font_1;
			}
			.guteurlsImg201610{
				margin-bottom: 20px;

				img{
					@include boxShadow(none);
				}
			}
		}
	}
}

.refernce-site{
	margin: 0 -15px;
	> p{
		display: inline-block;
		width: 49.5%;
		vertical-align: top;
		padding: 0 15px;
		margin-bottom: 55px;

		@media screen and (max-width: 600px){
			width: 100%;
		}
	}
}