.ch-l-comment--wrap{
	position: relative;

	.comment-reply-title{
		font-size: 26px;
		color: $content_color;
		/*font-family: $font_2;*/
		line-height: 32px;
		position: relative;
		padding: 0 0 7px;
		margin-bottom: 15px;
		font-weight: 700;

		@media screen and (max-width: 480px){
			font-size: 20px;
			line-height: 19px; 
		}

		&::after{
			content:'';
			width: 58px;
			height: 4px;
			position: absolute ;
			bottom: 0px;
			left: 0px;
			background: $secondary_color;
			@include transition(background ease 0.2s);

			.ch-l-theme_1 &{
		    	background: $theme_1_s;
		    }
		    .ch-l-theme_2 &{
		    	background: $theme_2_s;
		    }
		    .ch-l-theme_3 &{
		    	background: $theme_3_s;
		    }
		    .ch-l-theme_4 &{
		    	background: $theme_4_s;
		    }
		    .ch-l-theme_5 &{
		    	background: $theme_5_s;
		    }
		    .ch-l-theme_6 &{
		    	background: $theme_6_s;
		    }
		    .ch-l-theme_7 &{
		    	background: $theme_7_s;
		    }

			@media screen and (max-width: 480px){
				height: 2px;
			}
		}
	} 

	.comment-notes{
		background: rgba($primary_color, 0.03);
	    border: lighten($primary_color, 30%) 1px solid;
	    line-height: normal;
	    padding: 15px;
	    font-size: 14px;

	    @include borderRadius(3px);

	    .required{
	    	color: $madetory;
	    }
	}

	> h3{
		font-size: 18px;
		font-weight: 500;
		padding-bottom: 12px;
		margin-bottom: 30px;
		position: relative;

		&::after{
			content:'';
			width: 58px;
			height: 3px;
			position: absolute;
			bottom: 0px;
			left: 0px;
			background: $secondary_color;
		}
	}
	.commentlist{
		li {
			position: relative;
			background: $extra_light_grey;
			padding: 40px;
			margin-top: 40px;

			@include borderRadius(3px);

			@media screen and (max-width: 480px){
				padding: 20px;
			}

			&:first-child{
				margin-top:0;
			}
			.comment {
				.comment-author{
					margin-bottom: 20px;
					&::after{
						content:'';
						clear: both;
						display: block;
						overflow: hidden;
					}
					.comment-avatar{
						float: left;
						margin-right: 13px;
						width: 50px;
						height: 50px;
						background: lighten($color_black, 90%);
						overflow: hidden;

						@include borderRadius(50%);
					}
					.comment-details{
						overflow: hidden;
						padding-top: 3px;
						.fn{
							display: block;
						    line-height: 16px;
						    font-size: 16px;
						    font-style: normal;
						    font-weight: 700;
						    text-transform: capitalize;
						    margin-bottom: 4px;
						    @media screen and (max-width: 480px){
						    	font-size: 15px;
						    }
						    a{
						    	color: $dark_grey;
						    }
						}
						.comment-date{
							display: block;
							line-height: normal;
    						font-size: 14px;
    						color: lighten($color_black, 70%);
    						font-weight: 300;
    						a{
    							color: $secondary_color;
    							font-weight: 500;

    							.ch-l-theme_1 &{
							    	color: $theme_1_s;
							    }
							    .ch-l-theme_2 &{
							    	color: $theme_2_s;
							    }
							    .ch-l-theme_3 &{
							    	color: $theme_3_s;
							    }
							    .ch-l-theme_4 &{
							    	color: $theme_4_s;
							    }
							    .ch-l-theme_5 &{
							    	color: $theme_5_s;
							    }
							    .ch-l-theme_6 &{
							    	color: $theme_6_s;
							    }
							    .ch-l-theme_7 &{
							    	color: $theme_7_s;
							    }
    						}
						}
					}
				}
				.comment-content{

				}
			}
			li{
				margin: 0;
				padding-top: 20px;
				padding-bottom: 20px;

				&:last-child{
					padding-bottom: 0;
				}
			}
		}
	}

	.comment-respond{
		.comment-form{
			margin-bottom: 35px;
			label{
				display: block;
				font-size: 14px;

				.required{
					color: $madetory;
				}
			}
			input, textarea{
				@extend .form-control;
				@include borderRadius(3px);
				@include boxShadow(none);
				border-color: lighten($color_black, 85%);
				font-size: 15px;
    			font-weight: 400;
    			padding: 10px 15px;

				&:focus, &:hover{
					@include boxShadow(none);
					border-color: lighten($color_black, 50%);
				}
			}
			input{
				height: auto;
			}
			textarea{
				resize: none;
			}
			.submit{
				background: $dark_grey;
				border:none;
				padding: 12px 0;
    			height: auto;
    			color: $color_white;
    			font-size: 15px;
    			font-weight: 500;

				@include borderRadius(2px);
				@include boxShadow(none);
				@include transition(background ease 0.2s);

				&:focus, &:hover{
					background: lighten($dark_grey, 5%);
				}
			}
		}
	}
}