.ch-l-contact-us{
	div.wpforms-container-full{
		.wpforms-form{
			input, textarea{
				@extend .form-control;
				@include borderRadius(3px);
				@include boxShadow(none);
				border-color: lighten($color_black, 85%);
				font-size: 15px;
				font-weight: 400;
				padding: 10px 15px;
				font-family: $font_1;

				&:focus, &:hover{
					@include boxShadow(none);
					border-color: lighten($color_black, 50%);
				}
			}
			input{
				height: auto;
			}
			textarea{
				resize: none;
				height: 150px;
			}
			
			.wpforms-field{
				margin-bottom: 20px;
				padding-bottom: 0;
				padding-top: 0;

				.wpforms-field-label{
					display: block;
					font-size: 14px;
					font-family: $font_1;
					font-weight: 400;

					.wpforms-required-label{
						color: $madetory;
					}
				}
			}
			
			.wpforms-submit {
				background: $dark_grey;
				border:none;
				padding: 12px 0;
				height: auto;
				color: $color_white;
				font-size: 15px;
				font-weight: 500;
				display: block;
			    width: 100%;
			    line-height: normal;

				@include borderRadius(2px);
				@include boxShadow(none);
				@include transition(background ease 0.2s);

				&:focus, &:hover{
					background: lighten($dark_grey, 5%);
					border: none;
				}
			}
		}
	}
}

.wpforms-confirmation-container-full{
	line-height: normal;
	border: rgba($secondary_color, 0.42) 1px solid;
	background: rgba($secondary_color, 0.1);
	padding: 15px;

	@include borderRadius(3px);
	p{
		margin: 0;
	}
}