@font-face {
  font-family: 'codehints';
  src:  url('../fonts/custom-icons/codehints.eot?w5pvfb');
  src:  url('../fonts/custom-icons/codehints.eot?w5pvfb#iefix') format('embedded-opentype'),
    url('../fonts/custom-icons/codehints.ttf?w5pvfb') format('truetype'),
    url('.../fonts/custom-icons/codehints.woff?w5pvfb') format('woff'),
    url('../fonts/custom-icons/codehints.svg?w5pvfb#codehints') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="codehints-"], [class*=" codehints-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codehints' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.codehints-logo:before {
  content: "\e903";
}
.codehints-search:before {
  content: "\e902";
}
.codehints-arrow:before {
  content: "\e900";
}
.codehints-calender:before {
  content: "\e901";
  color: #134563;
}
.codehints-arrow-right:before {
  content: "\e904";
}
.codehints-comment:before {
  content: "\e905";
}
.codehints-tag:before {
  content: "\e906";
}