.footer{
	background: $dark_grey;
	padding: 22px 0;

	.ch-l-copyright{
		font-size: 14px;
		color: rgba($color_white, 0.40);
		line-height: normal;
		font-weight: 300;
		padding-top: 15px;
		span{
			font-weight: 400;
		}

		@media screen and (max-width:767px){
			text-align: center;
			padding-top:0;
			margin-bottom:10px;
		}
	}
	.ch-l-social{
		float: right;
		font-size: 0;
		@media screen and (max-width:767px){
			float: none;
			text-align: center;
		}
		li{
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
			a{
				width: 42px;
				height: 42px;
				color: $color_white;
				font-size: 17px;
				display: block;
				text-align: center;
				padding-top: 9px;

				@include borderRadius(50%);
				@include transition(background ease 0.2s);

				&.ch-l-social--youtube{
					background: $youtube;
					&:hover, &:focus{
						background: lighten($youtube, 5%);
					}
				}
				&.ch-l-social--linkedin{
					background: $linkedin;
					&:hover, &:focus{
						background: lighten($linkedin, 5%);
					}
				}
				&.ch-l-social--gplus{
					background: $googleplus;
					&:hover, &:focus{
						background: lighten($googleplus, 5%);
					}
				}
				&.ch-l-social--fb{
					background: $facebook;
					&:hover, &:focus{
						background: lighten($facebook, 5%);
					}
				}
				@media screen and (max-width:767px){
					width: 37px;
    				height: 37px;
    				font-size: 14px;
    				padding-top: 7px;
				}
			}
			@media screen and (max-width:767px){
				margin: 0 3px;
			}
		}
	}
}