.ch-l-content-section{
	padding: 57px 0;

	@media screen and(max-width: 480px){
		padding: 20px 0;
	}
}

.ch-l-post--list{
	.ch-l-post--block{
		margin-top: 100px;
		border-bottom: lighten($color_black, 92%) 1px solid;
		
		@media screen and (max-width: 600px){
			margin-top: 70px;
		}

		&:first-child{
			margin-top: 0;
		}

		.ch-l-post--content{
			padding: 0 25px;

			&.ch-l-post--content__inside{
				padding-right: 0;
				padding-left: 0;

				h2{
					margin-bottom: 30px;
				}
			}
			@media screen and (max-width: 480px){
				padding-left: 0;
				padding-right: 0;
			}
			h2{
				font-size: 40px;
				color: $content_color;
				font-family: $font_1;
				font-weight: 900;
				line-height: 43px;
				position: relative;
				/*padding: 0 0 23px;*/
				margin-bottom: 15px;

				&::after{
					content:'';
					display: none;
					width: 58px;
					height: 4px;
					position: absolute;
					bottom: 0px;
					left: 0px;
					background: $secondary_color;
					@include transition(width cubic-bezier(0.38, 0.62, 0.23, 1.1) 0.5s, background ease 0.2s);

					.ch-l-theme_1 &{
				    	background: $theme_1_s;
				    }
				    .ch-l-theme_2 &{
				    	background: $theme_2_s;
				    }
				    .ch-l-theme_3 &{
				    	background: $theme_3_s;
				    }
				    .ch-l-theme_4 &{
				    	background: $theme_4_s;
				    }
				    .ch-l-theme_5 &{
				    	background: $theme_5_s;
				    }
				    .ch-l-theme_6 &{
				    	background: $theme_6_s;
				    }
				    .ch-l-theme_7 &{
				    	background: $theme_7_s;
				    }
				}


				&:hover, &:focus{
					&::after{
						width: 68px;
						max-width: 100%;
					}
				}
				a{
					color: $content_color;
					@include transition(color ease 0.2s);
				}
				&:hover, &:focus{
					a{
						color: $secondary_color;

						.ch-l-theme_1 &{
					    	color: $theme_1_s;
					    }
					    .ch-l-theme_2 &{
					    	color: $theme_2_s;
					    }
					    .ch-l-theme_3 &{
					    	color: $theme_3_s;
					    }
					    .ch-l-theme_4 &{
					    	color: $theme_4_s;
					    }
					    .ch-l-theme_5 &{
					    	color: $theme_5_s;
					    }
					    .ch-l-theme_6 &{
					    	color: $theme_6_s;
					    }
					    .ch-l-theme_7 &{
					    	color: $theme_7_s;
					    }
					}
				}

				@media screen and (max-width: 1200px){
					font-size: 37px;
					line-height: 38px;
				}

				@media screen and (max-width: 991px){
					font-size: 32px;
    				line-height: 34px;
    				padding-bottom: 17px;
				}
				@media screen and (max-width: 600px){
					font-size: 26px;
				    line-height: 26px;
				    padding-bottom: 17px;

				    &::after{
				    	height: 3px;
				    }
				}

				@media screen and (max-width: 480px){
					font-size: 20px;
				    line-height: 22px;
				    padding-bottom: 13px;
				}
			}
			
			.ch-l-post-content--wrap{
				&::after{
					content: '';
					clear: both;
					display: block;
					overflow: hidden;
				}
				.ch-c-btn--more{
					margin-top: 20px;
					margin-bottom: -24px;
					float: left;
				}
				img{
					max-width: 100%;
				}
			}
		}

	}
}
.ch-l-post--image{
	background: lighten($color_black, 95%);
	margin-bottom: 30px;
	overflow: hidden;

	@include borderRadius(5px);
	@include transition(opacity ease 0.2s);

	img{
		display: block;
		margin: 0 auto;
	}

	&:hover{
		opacity: 0.9;
		filter: alpha(opacity=90);
	}
}
.ch-l-post--date{
	position: relative;
	font-size: 14px;
	color: rgba($color_black, 0.46);
	font-weight: 600;
	padding:1px 0 0 23px;
	margin-bottom: 22px; 

	&::before{
		content: "\f017";
		font-family: $font_4;
		position: absolute;
		top: 0px;
		left: 0px;
		font-size: 20px;
		color: rgba($color_black, 0.50);
		font-weight: 300;
	}
}

 pre {
    font-size: 16px;
    background: $extra_light_grey;
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    @include borderRadius(0px);
}
blockquote{
    font-size: 15px;
    background: $extra_light_grey;
    border-left: $secondary_color 3px solid;
    padding: 15px 21px;
    margin-bottom: 25px;
    margin-top: 20px;
    line-height: 24px; 

    @include transition(border ease 0.2s);

    .ch-l-theme_1 &{
    	border-color: $theme_1_s;
    }
    .ch-l-theme_2 &{
    	border-color: $theme_2_s;
    }
    .ch-l-theme_3 &{
    	border-color: $theme_3_s;
    }
    .ch-l-theme_4 &{
    	border-color: $theme_4_s;
    }
    .ch-l-theme_5 &{
    	border-color: $theme_5_s;
    }
    .ch-l-theme_6 &{
    	border-color: $theme_6_s;
    }
    .ch-l-theme_7 &{
    	border-color: $theme_7_s;
    }
}

/* Share button */

div.sharedaddy{
	margin-bottom: 25px;
	margin-top: 25px;
	.sd-social-icon-text{
		h3.sd-title{
			font-size: 16px;
			font-weight: 600;

			&::before{
				border: none;
			}
		}
		.sd-content{
			ul{
				li{
					display: inline-block;
					margin-right: 10px;
					margin-bottom: 5px;

					.sd-button{
						display: block;
						font-size: 14px;
						background: $primary_color;
						color: $color_white !important;
						line-height: initial;
						padding: 10px 20px 10px 15px;
		    			position: relative;
		    			border: none;
		    			line-height: normal;

		    			@include transition(background ease 0.2s);
		    			@include borderRadius(3px);
		    			@include boxShadow(none);

		    			&::before{
		    				content:'';
		    				font-family: $font_4;
		    				display: inline-block;
						    margin-right: 6px;
						    font-size: 15px;
						    top: 1px;
		    			}

		    			span{
		    				line-height: normal;
		    			}
		    			&.share-facebook{
		    				background: $facebook;

		    				&::before{
		    					content: "\f09a";
		    				}
		    				&:hover, &:focus{
		    					background: lighten($facebook, 5%);
		    				}
		    			}

		    			&.share-google-plus-1{
		    				background: $googleplus	;

		    				&::before{
		    					content: "\f0d5";
		    				}
		    				&:hover, &:focus{
		    					background: lighten($googleplus, 5%);
		    				}
		    			}

		    			&.share-twitter{
		    				background: $twitter;

		    				&::before{
		    					content: "\f099";
		    				}
		    				&:hover, &:focus{
		    					background: lighten($twitter, 5%);
		    				}
		    			}
		    			&.share-linkedin{
		    				background: $linkedin;

		    				&::before{
		    					content: "\f0e1";
		    				}
		    				&:hover, &:focus{
		    					background: lighten($linkedin, 5%);
		    				}
		    			}
					}
				}
			}
		}
	}
}

/* Default list style */

.codehints-list{
	margin: 10px 0 20px;
	li{
		font-family: $font_1;
		margin: 0 0 10px;
		position: relative;
		padding: 0 0 0 23px;
		line-height: 23px;

		&::before{
			content: "\f00c";
			font-family: $font_4;
			font-size: 14px;
			position: absolute;
			top: 2px;
			left: 0px;
			color: $secondary_color;

			.ch-l-theme_1 &{
		    	color: $theme_1_s;
		    }
		    .ch-l-theme_2 &{
		    	color: $theme_2_s;
		    }
		    .ch-l-theme_3 &{
		    	color: $theme_3_s;
		    }
		    .ch-l-theme_4 &{
		    	color: $theme_4_s;
		    }
		    .ch-l-theme_5 &{
		    	color: $theme_5_s;
		    }
		    .ch-l-theme_6 &{
		    	color: $theme_6_s;
		    }
		    .ch-l-theme_7 &{
		    	color: $theme_7_s;
		    }
		}
	}
}


.page-bottom-scroll {
	width: 60px;
	height: 60px;
	background: $secondary_color;
	position: fixed;
	bottom: 35px;
	right: 35px;
	font-family: $font_4;
	font-size: 23px;
	color: $color_white;
	text-align: center;
	padding: 16px  0 0;
	z-index: 100;

	@include borderRadius(50%);
	@include transition(all ease-out 0.2s);
	@include transform(scale(0));
	@include boxShadow(0 5px 15px -4px rgba($color_black, .50));

	.ch-l-theme_1 &{
    	background: $theme_1_s;
    	color: $color_white;
    }
    .ch-l-theme_2 &{
    	background: $theme_2_s;
    	color: $color_white;
    }
    .ch-l-theme_3 &{
    	background: $theme_3_s;
    	color: $color_white;
    }
    .ch-l-theme_4 &{
    	background: $theme_4_s;
    	color: $color_white;
    }
    .ch-l-theme_5 &{
    	background: $theme_5_s;
    	color: $color_white;
    }
    .ch-l-theme_6 &{
    	background: $theme_6_s;
    	color: $color_white;
    }
    .ch-l-theme_7 &{
    	background: $theme_7_s;
    	color: $color_white;
    }

	@media screen and (max-width: 767px){
		width: 50px;
    	height: 50px;
    	font-size: 21px;
    	padding-top: 12px;
	}
	
}

.page-bottom-scroll:before {
	content: "\f102";
}

.page-bottom-scroll:focus, .page-bottom-scroll:hover {
	color: $color_white;
	background:lighten( $secondary_color, 5%);
	.ch-l-theme_1 &{
    	background: lighten($theme_1_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_2 &{
    	background: lighten($theme_2_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_3 &{
    	background: lighten($theme_3_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_4 &{
    	background: lighten($theme_4_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_5 &{
    	background: lighten($theme_5_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_6 &{
    	background: lighten($theme_6_s, 5%);
    	color: $color_white;
    }
    .ch-l-theme_7 &{
    	background: lighten($theme_7_s, 5%);
    	color: $color_white;
    }
}

.page-bottom-scroll.open {
	@include transform(scale(1));
}

.ch-l-owner--avatar{
	display: inline-block;
    width: 23px;
    height: 23px;
    overflow: hidden;
    vertical-align: top;
    margin-right: 4px;

    @include borderRadius(50%);

    img{
    	display: block;
    }
}

.ch-l-post__info{
	margin-bottom: 22px;

	.ch-l-post__user{
		display: inline-block;
		vertical-align: top;
		min-width: 212px;
		margin-right: 20px;

		@media screen and (max-width: 991px){
			min-width: 172px;
		}
		@media screen and (max-width: 480px){
			display: block;
			min-width: 0;
			margin:0 0 15px;
		}
		.ch-l-post__image{
			float: left;
			width: 51px;
			height: 51px;
			background: $secondary_color;
			overflow: hidden;
			margin: 0 14px 0 0; 
			border: 4px solid $secondary_color;

			@include borderRadius(50%);
			@include transition(border ease 0.2s, background ease 0.2s);

			.ch-l-theme_1 &{
		    	border-color: $theme_1_s;
		    	background: $theme_1_s;
		    }
		    .ch-l-theme_2 &{
		    	border-color: $theme_2_s;
		    	background: $theme_2_s;
		    }
		    .ch-l-theme_3 &{
		    	border-color: $theme_3_s;
		    	background: $theme_3_s;
		    }
		    .ch-l-theme_4 &{
		    	border-color: $theme_4_s;
		    	background: $theme_4_s;
		    }
		    .ch-l-theme_5 &{
		    	border-color: $theme_5_s;
		    	background: $theme_5_s;
		    }
		    .ch-l-theme_6 &{
		    	border-color: $theme_6_s;
		    	background: $theme_6_s;
		    }
		    .ch-l-theme_7 &{
		    	border-color: $theme_7_s;
		    	background: $theme_7_s;
		    }

		}
		.ch-l-post__user-content{
			overflow: hidden;
			padding-top: 8px;

			h5{
				margin:0 0 2px 0;
				padding: 0;
				font-size: 15px;
				font-weight: 900;
				line-height: 16px;

				a{
					color: $content_color;
					line-height: 16px;
					display: inline-block;
				}
			}
			.ch-l-post__date{
				display: block;
				font-size: 15px;
				color: lighten($content_color, 30%);
				line-height: 17px;
			}
		}
	}
	.ch-l-post__comment-count{
		display: inline-block;
		vertical-align: top;
		min-width: 110px;
		position: relative;
		padding-left: 35px;
		margin-top: 10px;
		margin-right: 20px;

		@media screen and (max-width: 991px){
			min-width: 90px;
		}
		@media screen and(max-width: 480px){
			padding-left: 30px;
		}

		&::before{
			content:'\e905';
			font-family: $font_3;
			font-size: 25px;
			color:$secondary_color;
			position: absolute;
			top: 2px;
			left: 0px;
			line-height: normal; 

			@include transition(color ease 0.2s);

			@media screen and(max-width: 480px){
				font-size: 20px;
				top: 4px;
			}

			.ch-l-theme_1 &{
		    	color: $theme_1_s;
		    }
		    .ch-l-theme_2 &{
		    	color: $theme_2_s;
		    }
		    .ch-l-theme_3 &{
		    	color: $theme_3_s;
		    }
		    .ch-l-theme_4 &{
		    	color: $theme_4_s;
		    }
		    .ch-l-theme_5 &{
		    	color: $theme_5_s;
		    }
		    .ch-l-theme_6 &{
		    	color: $theme_6_s;
		    }
		    .ch-l-theme_7 &{
		    	color: $theme_7_s;
		    }
		}

		span{
			display: inline-block;
			font-size: 19px;
			color: $content_color;
			font-weight: 700;

			@media screen and(max-width: 480px){
		    	font-size: 13px;
		    }

			a{
				color: $content_color;
				display: block;
				line-height: 18px;

				&:hover{
		    	color: $secondary_color;
		    	border-color: $secondary_color;

		    	.ch-l-theme_1 &{
			    	color: $theme_1_s;
			    }
			    .ch-l-theme_2 &{
			    	color: $theme_2_s;
			    }
			    .ch-l-theme_3 &{
			    	color: $theme_3_s;
			    }
			    .ch-l-theme_4 &{
			    	color: $theme_4_s;
			    }
			    .ch-l-theme_5 &{
			    	color: $theme_5_s;
			    }
			    .ch-l-theme_6 &{
			    	color: $theme_6_s;
			    }
			    .ch-l-theme_7 &{
			    	color: $theme_7_s;
			    }
		    }
			}
		}
	}

	.ch-l-post__tags{
		display: inline-block;
		position: relative;
		padding-left: 33px;
		margin-top: 10px;

		@media screen and(max-width: 480px){
			padding-left: 30px;
		}

		&::before{
			content:'\e906';
			font-family: $font_3;
			font-size: 25px;
			color:$secondary_color;
			position: absolute;
			top: 2px;
			left: 0px;
			line-height: normal; 

			@include transition(color ease 0.2s);

			@media screen and(max-width: 480px){
				font-size: 20px;
				top: 4px;
			}
			.ch-l-theme_1 &{
		    	color: $theme_1_s;
		    }
		    .ch-l-theme_2 &{
		    	color: $theme_2_s;
		    }
		    .ch-l-theme_3 &{
		    	color: $theme_3_s;
		    }
		    .ch-l-theme_4 &{
		    	color: $theme_4_s;
		    }
		    .ch-l-theme_5 &{
		    	color: $theme_5_s;
		    }
		    .ch-l-theme_6 &{
		    	color: $theme_6_s;
		    }
		    .ch-l-theme_7 &{
		    	color: $theme_7_s;
		    }
		}


		a{
			font-size: 15px;
			color:$content_color;
			border-bottom: $content_color 1px solid;
			font-weight: 700;
		    line-height: 16px;
		    display: inline-block; 

		    @include transition(color ease 0.2s, border ease 0.2s);

		    @media screen and(max-width: 480px){
		    	font-size: 13px;
		    }

		    &:hover{
		    	color: $secondary_color;
		    	border-color: $secondary_color;

		    	.ch-l-theme_1 &{
			    	color: $theme_1_s;
			    	border-color: $theme_1_s;
			    }
			    .ch-l-theme_2 &{
			    	color: $theme_2_s;
			    	border-color: $theme_2_s;
			    }
			    .ch-l-theme_3 &{
			    	color: $theme_3_s;
			    	border-color: $theme_3_s;
			    }
			    .ch-l-theme_4 &{
			    	color: $theme_4_s;
			    	border-color: $theme_4_s;
			    }
			    .ch-l-theme_5 &{
			    	color: $theme_5_s;
			    	border-color: $theme_5_s;
			    }
			    .ch-l-theme_6 &{
			    	color: $theme_6_s;
			    	border-color: $theme_6_s;
			    }
			    .ch-l-theme_7 &{
			    	color: $theme_7_s;
			    	border-color: $theme_7_s;
			    }
		    }
		}
	}
}