.ch-l-nav--wrap{
	position: fixed;
	top: 0px;
	right: -250px;
	width: 100%;
	max-width: 250px;
	max-height: 100%;
	height: 100%;
	background: $secondary_color;
	overflow: hidden;
	overflow-y: auto;
	padding: 20px 6px 20px 30px;

	@include transition(right ease 0.2s);

	.menu{
		> li{
			margin: 20px 0;
			a{
				line-height: normal;
				display: block;
				font-size: 15px;
				color: $color_white;
				//font-family: $font_2;

				@include transition(color ease 0.2s, background ease 0.2s);
			}

			&:hover{
				> a{
					color: rgba($color_white, 0.50);
				}
			}
		}
	}

	&.menu-open{
		right: 0px;
	}
}
.ch-l-nav__overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba($color_black, 0.60);
	display: none;
	opacity: 0;
	filter: alpha(opacity=0);

	
	/*transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay];*/

	&.menu-open{
		display: block;
		opacity: 1;
		filter: alpha(opacity = 100);
		@include transition(opacity 10s ease 10s);
	}
}