body
{
	margin:0px;
	padding:0;
	font-family: $font_1;
	font-size:16px;
	color: $content_color;
	font-weight: 400;
	line-height:24px;
	word-break: break-word;
	
	text-rendering: optimizeLegibility; 
	-webkit-font-smoothing: antialiased;

	&.shift{
		overflow:hidden;
		margin-right: 17px;
	}
}
::selection {
	background: $color_black; /* Safari */
	color:$color_white;
}
::-moz-selection {
	background: $color_black;  /* Firefox */
	color:$color_white;
}
a:focus, input:focus, textarea:focus, button:focus
{
	outline:none;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 
{	
	font-weight: 900;
	-webkit-font-smoothing: antialiased;
	margin: 20px 0 17px;
}
h2
{
	font-size:26px;
	line-height:36px;
	margin:0 0 15px 0;
}
h3
{
	font-size:22px;
	margin:0 0 15px 0;
}
a
{
	color:$primary_color;
	text-decoration:none;
	@include transition(color ease 0.2s);

	.ch-l-theme_1 &{
    	color: $theme_1_p;
    }
    .ch-l-theme_2 &{
    	color: $theme_2_p;
    }
    .ch-l-theme_3 &{
    	color: $theme_3_p;
    }
    .ch-l-theme_4 &{
    	color: $theme_4_p;
    }
    .ch-l-theme_5 &{
    	color: $theme_5_p;
    }
    .ch-l-theme_6 &{
    	color: $theme_6_p;
    }
    .ch-l-theme_7 &{
    	color: $theme_7_p;
    }
}
a:hover
{
	text-decoration:none;
	color:lighten($primary_color, 10%);

	.ch-l-theme_1 &{
    	color: lighten($theme_1_p, 10%);
    }
    .ch-l-theme_2 &{
    	color: lighten($theme_2_p, 10%);
    }
    .ch-l-theme_3 &{
    	color: lighten($theme_3_p, 10%);
    }
    .ch-l-theme_4 &{
    	color: lighten($theme_4_p, 10%);
    }
    .ch-l-theme_5 &{
    	color: lighten($theme_5_p, 10%);
    }
    .ch-l-theme_6 &{
    	color: lighten($theme_6_p, 10%);
    }
    .ch-l-theme_7 &{
    	color: lighten($theme_7_p, 10%);
    }
}
label
{
	font-weight:normal;
}
p{
	margin:0 0 15px 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
ol
{
	padding:0px;
	list-style-position:inside;
}
ol, li
{
	margin-bottom:0px;
	list-style:none;
	position:relative;
}
li
{
	
}
img{
	max-width: 100%;
	height: auto;
}
html {
   -ms-overflow-style: scrollbar;
}
