.ch-l-search--wrap{
	position: relative;

	.ch-l-input--search{
		border: none;
		height: auto;
		/*line-height: normal;*/
		font-size: 30px;
		font-weight: 700;
		color: $content_color; 
		padding: 12px 80px 12px 114px;

		@include borderRadius(3px);
		@include boxShadow(0px 0px 0px 7px rgba($color_black, 0.30));
		@include transition(color ease 0.2s);

		&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&::-moz-placeholder { /* Firefox 19+ */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&:-ms-input-placeholder { /* IE 10+ */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		&:-moz-placeholder { /* Firefox 18- */
		  font-weight: 300;
		  color: rgba($color_black, 0.40);
		}
		@media screen and (max-width: 991px){
			font-size: 24px;
			padding-left: 88px;
		}
		@media screen and (max-width: 767px){
			padding-left: 73px;
			padding-top: 10px;
			padding-bottom: 10px;
			font-size: 20px;
		}
	}

	&::before{
		content: "\e902";
		font-family: $font_3;
		font-size: 70px;
		color: $secondary_color;
		position: absolute;
		top: 20px;
		left: 9px;
		@include transition(color ease 0.2s);

		.ch-l-theme_1 &{
	    	color: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	color: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	color: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	color: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	color: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	color: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	color: $theme_7_p;
	    }
		@media screen and (max-width: 991px){
			font-size: 50px;
			top: 19px;
		}

		@media screen and (max-width: 767px){
			font-size: 38px;
		    top: 10px;
    		left: 8px;
		}
	}
	&::after{
		content: '';
		width: 1px;
		height: 100%;
		max-height: 53px;
		position: absolute;
		top: 0px;
		left: 88px;
		bottom: 0px;
		margin: auto;
		background: lighten($color_black, 87%);
		
		@media screen and (max-width: 991px){
			left: 66px;
		}
		@media screen and (max-width: 767px){
			left: 54px;
    		max-height: 32px;
		}
	}
	.ch-l-button--search{
		position: absolute;
		top: 0px;
		right: 0px;
		border: none;
		width: 70px;
		height: 100%;
		background: $secondary_color;
		color: $color_white;
		font-size: 42px;

		@include transition(color ease 0.2s, background ease 0.2s);
		@include borderRadius(0 3px 3px 0);

		.ch-l-theme_1 &{
	    	background: $theme_1_p;
	    }
	    .ch-l-theme_2 &{
	    	background: $theme_2_p;
	    }
	    .ch-l-theme_3 &{
	    	background: $theme_3_p;
	    }
	    .ch-l-theme_4 &{
	    	background: $theme_4_p;
	    }
	    .ch-l-theme_5 &{
	    	background: $theme_5_p;
	    }
	    .ch-l-theme_6 &{
	    	background: $theme_6_p;
	    }
	    .ch-l-theme_7 &{
	    	background: $theme_7_p;
	    }

		&:focus, &:hover{
			background: lighten($secondary_color, 10%);

			.ch-l-theme_1 &{
		    	background: lighten($theme_1_p, 10%);
		    }
		    .ch-l-theme_2 &{
		    	background: lighten($theme_2_p, 10%);
		    }
		    .ch-l-theme_3 &{
		    	background: lighten($theme_3_p, 10%);
		    }
		    .ch-l-theme_4 &{
		    	background: lighten($theme_4_p, 10%);
		    }
		    .ch-l-theme_5 &{
		    	background: lighten($theme_5_p, 10%);
		    }
		    .ch-l-theme_6 &{
		    	background: lighten($theme_6_p, 10%);
		    }
		    .ch-l-theme_7 &{
		    	background: lighten($theme_7_p, 10%);
		    }
		}

		@media screen and (max-width: 991px){
			font-size: 35px;
			width: 60px;
		}
		@media screen and (max-width: 767px){
			font-size: 28px;
    		width: 44px;
		}
		
	}	
}