.ch-l-sidebar{
	h4{
		margin: 0px 0px 10px;
    	font-size: 19px;
    	font-family: $font_1;
    	font-weight: 900;
	}
	> div + div{
		margin-top:  40px;
	}
	@media screen and (max-width: 767px){
		margin-top: 45px;
	}
}
.cs-l-sidebar--category{
	ul{
		margin: 0;
		padding: 0;

		li{
			a{
				display: block;
				font-size: 15px;
				color: lighten($color_black, 60%);
				line-height: 18px;
				position: relative;
				padding: 6px 0px 6px 20px;

				@include transition(color ease 0.2s);

				&::before{
					content: "\f115";
					font-family: $font_4;
					display: inline-block;
					color: lighten($color_black, 60%);
					font-size: 14px;
					position: absolute;
					top: 5px;
					left: 0px;
					@include transition(color ease 0.2s);
    			}

    			&:hover, &:focus{
    				color: lighten($color_black, 20%);
    				&::before{
    					color: lighten($color_black, 20%);
    				}
    			}
			}
		}
	}
}

.ch-l-sidebar--subscribe{
	background: $light_grey;
	padding: 25px;
	max-width: 300px;

	h3{
		text-transform: uppercase;
		font-size: 21px;
		color: $dark_grey;
		font-weight: 700;
		margin: 0px 0 11px;
	}
	p{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	.ch-c-text-feild{
		margin-bottom: 21px;
	}
	.ch-btn-primary{
		width: 100%;
		max-width: 101px;
		display: block;
	}
}
.jetpack_subscription_widget{
	background: $light_grey;
	padding: 25px;
	max-width: 300px;

	.widgettitle{
		text-transform: uppercase;
		font-size: 21px;
		color: $dark_grey;
		font-weight: 700;
		margin: 0px 0 11px;
		    line-height: normal;
	}
	#subscribe-text{
		font-size: 14px;
		font-weight: 400;
		line-height: 20px;
	}
	#subscribe-email{
		input{
			@extend .ch-c-text-feild;
			width: 100%;
		}
	}
	#subscribe-submit{
		margin: 0;
		input{
			@extend .ch-btn-primary;
			width: 100%;
			max-width: 101px;
			display: block;
		}
	}
	.error, .success{
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		background: rgba($error, 0.08);
		border: rgba($error, 0.18) 1px solid;
		padding: 7px;

		@include borderRadius(2px);
	}
	.success{
		*{
			margin: 0;
		}
		background: rgba($sucess, 0.08);
		border-color: rgba($sucess, 0.18);
	}
	
}
.ch-l-siderbar--wrapper{
	position: static;
}
.ch-l-sidebar--widject{
	li{
	margin-bottom:  40px;
	}
}